[2020-05-25 09:28] hugoprudente opened #4 "Authentication fails if password contains $ - docker-compose build"
Hey Felddy

I'm migrating my helm-chart to your container and I have found a bug :)

My password contains `$a`.

As you know the `$a` on shell when enclosed by double-quotes are executed trying to retrieve the value of *a*, and the `$` ended stripped.

I have check the `download_release.py` sending my execution with single-quotes and it works, so that part of the code is 100%.

I also checked the

[2020-05-25 10:30] hugoprudente opened #6 "Add environment variable FOUNDRY_AWS_CONFIG"
Add missing configuration for AWS_CONFIG to expand the usage to AWS S3.

[2020-05-25 13:23] #4 closed, assigned to nobody

[2020-05-25 16:18] #6 closed, assigned to nobody

[2020-05-30 21:18] hugoprudente opened #12 "Brainstorm: Preload modules/systems/worlds"
Hey Felddy.

I would like to brains storm with you something that I was thinking to add but I'm not sure if would make a lot of sense.

As we are using containers let's imagine that I have my 5gb assets folder or have a world world ready to play and would like to add to a clean server for any weird reason.

I was thinking a mechanism similar to what you do with foundry.zip now to incase some envir

[2020-06-03 17:19] felddy commented on #12
I think this is a cool idea.  I'm not sure if it belongs in the docker container repo.  I have started an Ansible role project to install the container on a host:

https://github.com/felddy/ansible-role-foundryvtt-docker

I think this role (or a role like it) would be the best place to implement something like that.  I'm going to think about this a bit more...

[2020-06-03 18:02] felddy opened #16 "Support email addresses in FOUNDRY_USERNAME environment variable"
# 🚀 Feature Proposal

Support using an email address as the `FOUNDRY_USERNAME`.

## Motivation

Reported by: @Corvimae

It is possible to log in to foundryvtt.com using your email address.  But when the `download_release.js` helper util goes to fetch the license key, it will error out as it is trying to build a path with the username.

We could document that `FOUNDRY_USERNAME` is not supposed to b

[2020-06-04 00:39] Kenidashi commented on #16
As a note, it seems that the username should be lowercase when fetching the license key. I submitted a username that had a capital letter at the beginning of it, and I hit the error point I'm guessing @Corvimae also hit. Converting that character to lowercase resolved the error. That being said, my displayed username on the main site at several points still has the capital letter in it.

[2020-06-04 01:23] felddy commented on #16
Thanks for the follow up.  I was able to reproduce both issues:
* mix-case usernames will cause a `Not Found` response.
* email addresses are accepted as a username, but cause the same `Not Found` response.

Both of these stem from how the `LICENSE_URL` is crafted.  The mix-case is an easy fix.  The resolution of email address to username will take a little extra work.

I'll open a draft PR to wor

[2020-06-04 02:29] #16 closed, assigned to felddy

[2020-06-05 15:10] felddy opened #19 "Foundry site can return usernames that need to be lowercased before use in a URL."
# 🐛 Bug Report

Reported by: @shirkie

If `FOUNDRY_USERNAME` is set to `foobar` it is possible for FoundryVTT can respond with:
`Successfully logged in as: Foobar` (note the case change)

We use the reply username since some users set `FOUNDRY_USERNAME` to their email address.

When the `LICENSE_URL` is constructed, it is invalid with the capitalized username.

The solution is to lowercase the ret

[2020-06-05 16:00] #19 closed, assigned to felddy

[2020-06-10 00:42] hugoprudente opened #23 "Download/Installing Foundry during the build stage."
Hi Felddy,

I saw that you have changed the behaviour of the image pulling for the .js alternative and with that dropped the capability of a fetch-install during the build using the old command.

[code]

Do you plan to re-add it in any other way?

I'm checking too ensure that the K8S chart reflects how it works and I would like to avoid asking for the users to provide passwords on the vales.yaml o

[2020-06-10 00:50] hugoprudente commented on #12
Cool, I had some extra thought about it and know a cool way to resolve this also with my K8S chart taking advantage of Init containers.

Resolving this.

[2020-06-10 00:50] #12 closed, assigned to nobody

[2020-06-10 13:21] felddy commented on #23
Hey Hugo.  I understand your concerns about credential passing via environment variable at runtime.  I do plan on re-adding the functionality to pre-build in a Foundry release to the image.  It was important for me to support a simpler use case for the community using `docker pull`, and the associated Ansible role: https://github.com/felddy/ansible-role-foundryvtt-docker

The end goal of this cont

[2020-06-10 18:41] felddy commented on #23
@hugoprudente ... let me know if this solution works for you.

See:
https://github.com/felddy/foundryvtt-docker#pre-installed-release-builds

[2020-06-11 01:53] felddy opened #25 "Support S3 Pre-signed URLs arguments in leiu of username/password"
# 🚀 Feature Proposal

Requested by @kakaroto

Allow users to provide a [pre-signed S3 URL](https://docs.aws.amazon.com/cli/latest/reference/s3/presign.html) as the mechanism to download the foundry release.  These URLs may be generated from the user's profile page by clicking on the 🔗 icon next to the distribution.

Also update the documentation to note the `HISTCONTROL` options available in `bash

[2020-06-12 02:24] felddy commented on #25
An new release for this feature has been made and published to Docker Hub:  [v0.6.2+c](https://github.com/felddy/foundryvtt-docker/releases/tag/v0.6.2%2Bc)
The FoundryVTT Community wiki has been updated with the new documentation: https://github.com/foundry-vtt-community/wiki/wiki/Docker#felddys-easy-one-step-docker-container-%EF%B8%8F

[2020-06-12 02:24] #25 closed, assigned to felddy

[2020-06-12 17:04] hugoprudente commented on #23
Hi @felddy yes, it works as a charm!

Resolving this!

Thanks a million.

[2020-06-12 17:04] #23 closed, assigned to felddy

[2020-06-22 15:40] felddy opened #33 "Add "release" tag"
# 🚀 Feature Proposal

Add support for a `:release` tag that will point to the latest version from the Foundry "release" channel.

The release tag will be added to any GitHub published release that does not have the "pre-release" checkbox checked.  Beta and alpha channel versions will continue to be published with the `:latest` tag.

## Motivation

Not all users live on the bleeding edge.  In fact,

[2020-06-22 16:15] felddy commented on #33
Verified that the `:release` tag is correctly being applied.  Republished `0.6.3` to reset `:latest` tag.

[code]

Everything looks good here! :shipit:

[2020-06-22 16:15] #33 closed, assigned to felddy

[2020-06-24 00:06] TimPansino opened #38 "Startup Crash: uv_os_homedir returned ENOENT (no such file or directory)"
# 🐛 Bug Report

Crash on startup for latest container version.

## To Reproduce

Steps to reproduce the behavior:

- Pull the latest tag and attempt to start the docker container.

## Expected behavior

The container starts up and runs.

## Any helpful log output

Please run this command:

[code]

Paste the results here:

[code]

Run the container with `CONTAINER_VERBOSE` set to `true`,and paste a

[2020-06-24 00:27] TimPansino commented on #38
The offending line is an operating system call to os.homedir(). This is happening because I have the FOUNDRY_UID and FOUNDRY_GID env vars set. The entrypoint script does not create the user and group if they do not exist, causing this error.

[2020-06-24 02:18] felddy commented on #38
Thanks for the report.  I'm looking into it.

I set `FOUNDRY_UID=1000` and `FOUNDRY_GID=100` on my actual server and was not seeing this behavior:

[code]

But I am able to reproduce it when I use `FOUNDRY_UID=111` and `FOUNDRY_GID=115`: 🎉

[code]

Thanks again for reporting this.  I'll get a fix for this up as soon as possible.

[2020-06-24 03:24] felddy commented on #38
@TimPansino I just published [`v0.6.4+a` ](https://github.com/felddy/foundryvtt-docker/releases/tag/v0.6.4%2Ba)

I believe that this will fixes the issue you reported.  After updating I am no longer able to reproduce the error.

Please `pull` the new image from Docker hub, test, and let me know how it goes.

[2020-06-29 22:40] MacDork opened #43 "Websocket config?"
# 💬 Questions and Help
I can load foundry and use it just fine internally at http://localhost:30000/ , but when I try to connect to my internet facing hostname with letsencrypt cert all configured, using the Apache2 SSL Proxy config from [this page](https://foundryvtt.com/article/apache/), the setup page loads, but I can't login and keep getting this error in the browser console:

`Firefox can’t e

[2020-06-30 15:16] felddy commented on #43
@MacDork,  that is frustrating.  There isn't anything in the container that is modifying the networking.  It's a pretty straightforward containerized node application , with some installation/authentication sauce on the front.

If you are connecting directly to Foundry without the proxy you will be using `http:` and `ws:`.  When the proxy is in place with TLS, you will be connecting using `https`

[2020-06-30 16:35] MacDork commented on #43
Ahh.   wss makes sense, now.

I've got other services proxied behind Apache, so I don't think I can have another service (like nginx) listening on 443 (can I?), but the netstat *does* seem to show that it's not listening for ipv4.

`tcp6       0      0 :::30000                :::*                    LISTEN`

Disabling ufw yields the same result, so I think the fw is out of the equation.  Do you ha

[2020-06-30 18:04] felddy commented on #43
That is strange... we either need to get Docker listening on IPv4 or change your Apache config to use `::1`.  Take a look at this link for some ideas:

https://stackoverflow.com/questions/29957143/make-docker-use-ipv4-for-port-binding

[2020-06-30 18:39] felddy commented on #38
@TimPansino were you able to test the proposed fix?

[2020-06-30 19:01] TimPansino commented on #38
I had not, I just tried with the latest build and that is working.

Unrelated but there's an issue with your CONTAINER_PATCHES logic. Seems you're testing a potentially unset variable for truth instead of testing if it's set. I can open a different issue for that though.

[code]

[2020-06-30 19:01] #38 closed, assigned to felddy

[2020-06-30 19:13] TimPansino opened #44 "CONTAINER_PATCHES parameter not set error."
# 🐛 Bug Report

Error appears in logs related to unset CONTAINER_PATCHES variable when this is supposed to be optional. Does not prevent startup.

## To Reproduce

Steps to reproduce the behavior:

- Start a container without the CONTAINER_PATCHES env var set.
- Observe error in log stream.

## Expected behavior

No errors logged for unused parameters.

## Any helpful log output

Please run this c

[2020-06-30 19:26] TimPansino commented on #44
https://github.com/felddy/foundryvtt-docker/blob/61dd6a9b3a2394716bb7ac367f07f5e953f689c3/src/entrypoint.sh#L107

Recommendation:

[code]

[2020-06-30 19:34] felddy commented on #44
The problem is this line:
https://github.com/felddy/foundryvtt-docker/blob/61dd6a9b3a2394716bb7ac367f07f5e953f689c3/src/entrypoint.sh#L98

I forgot to move it down below the new `CONTAINER_PATCHES` section.

But more importantly the automated testing was happy with this failure.   The "Ready" text the tests are looking for was found earlier in the log, and was no longer a valid indicator of the sy

[2020-06-30 19:56] felddy commented on #44
Undoing auto-close so @TimPansino can verify.

[2020-06-30 19:59] felddy commented on #44
A new release is being built and tested.  It should be out in a few minutes:
https://github.com/felddy/foundryvtt-docker/runs/823965856?check_suite_focus=true

Thanks again for catching this.  Please let me know if this fix also works for you.

[2020-06-30 20:14] TimPansino commented on #44
Everything looks good on my end. 👍

[2020-06-30 20:14] #44 closed, assigned to felddy

[2020-06-30 20:15] felddy commented on #44
Sweet!  Thanks!

[2020-07-01 11:58] MacDork commented on #43
Thanks for the help -- I don't think it's the container's fault.  wget works fine, and on my <internalip>:30000, i'm able to access foundry wonderfully.  I'm still running a Fantasy Grounds campaign, so it'll be a long while before I'm ready to fully make the move.  Thank you for your time, and for the tips, and for creating this container.  I'll probably continue to use it after I work out the so

[2020-07-01 13:04] MacDork commented on #43
FWIW, I have the same issue w/ the Node install, and leave the Docker container off.

[2020-07-01 14:08] felddy commented on #43
Wow.  Still happens with just Node?  I'd keep digging on those IPv6/IPv4 binding configurations.

I'm glad you plan on using the container.  Let me know if you have any more questions either here or in Discord.

Good luck!

[2020-07-01 14:08] #43 closed, assigned to nobody

[2020-07-02 02:27] MacDork commented on #43
I got it working.

I needed to add a Rewrite to my Apache2 virtualhost settings:

[code]

[2020-07-20 09:54] VTTAssets opened #53 "License retrieval fails if more than one license is owned"
# 🐛 Bug Report

The license key retrieval retrieves the text contents of a CSS selector

`const license_with_dashes = $("pre.license-key code").text();`

If there are multiple `pre`s, it concatenates the contents of each and writes that into the license file, resulting in an invalid license

## To Reproduce

Steps to reproduce the behavior:

- Buy a second license ;)
- Then run the container

## E

[2020-07-20 17:40] felddy commented on #53
| Buy a second license ;)
🤣

[2020-07-20 18:56] felddy commented on #53
Can you confirm which of the two ways the multiple licenses are listed on the license page:

Multiple `pre` nodes, each with with `code` node:
[code]

-or-

A single `pre` node with multiple `code` nodes:
[code]

I'll need this information to write the tests for CI.

[2020-07-20 19:00] VTTAssets commented on #53
It's the following:

[code]

[2020-07-20 19:01] VTTAssets commented on #53
![image](https://user-images.githubusercontent.com/54429526/87975631-2c160080-cacc-11ea-9940-e390884f5577.png)

[2020-07-20 21:25] felddy commented on #53
Thank you for the quick reply.

I think I'm going to make a smaller patch to fix the bug before I merge the larger PR.

There are a few more moving pieces in the container that will need a bit of refactoring to make your new license options more flexible.

[2020-07-22 15:06] felddy commented on #53
@VTTAssets , I've worked on the issue and incorporated some of your ideas from PR #54 into PR #55

Could you build a test container from the `bugfix/multiple_license_keys` branch and see if the `FOUNDRY_LICENSE_KEY` environment variable works for you.  Also that setting it to `1`, or `2` selects the appropriate key from your account.

From the `README.md`

| Name  | Purpose | Default |
|-------|--

[2020-07-23 13:23] VTTAssets commented on #53
I will do that, give me a moment though. I appreciate your responsiveness <3

[2020-07-25 09:38] VTTAssets commented on #53
I am getting the usage of authenticate.js:

[code]

[2020-07-25 10:03] VTTAssets commented on #53
I tried it with your run command above and with a compose file (see below), but to no avail. I needed to replace the backticks in your run command for the FOUNDRY_LICENSE_FILE with regular single-quotes, and tried single, double and no quotes in the docker-compose.yml but no dice

docker-compose.yml:
[code]

[2020-07-25 11:07] VTTAssets commented on #53
If it helps, we can do a debugging session on my computer with my login (if we can schedule something like that. I am at GMT+1). The other option is sponsoring you a 2nd license.

[2020-07-25 13:01] felddy commented on #53
Thanks for the offer to remotely debug, and especially the 2nd license sponsorship!  I think I've resolved the issue.

I was able to reproduce the error causing the usage message from `authenticate.js`.   It occurs when verbose logging is not enabled.   (I always have `CONTAINER_VERBOSE` set to true, because... developing.)   Anyway, it was a quoting issue in `bash`, and an over zealous `shellchec

[2020-07-26 11:06] VTTAssets commented on #53
Working fine. I didn't expect the software to detect the last test-case, but I wanted to try nevertheless. It's working great for me now, see the following test cases I went through:

[code]

[2020-07-26 12:14] felddy commented on #53
Excellent!   Thank you for posting the results in this very readable format.   It's important to understand users' expected results.

One quick clarification.  For the last index test you listed:

[code]

Did you mean: `Test: FOUNDRY_LICENSE_KEY=3` ?

[2020-07-26 13:43] VTTAssets commented on #53
Oh, yes, of course. Copy & Paste is the devil in disguise. Thank you!

[2020-07-26 20:54] felddy commented on #53
PR #55 has been merged.  Release [v0.6.5+a](https://github.com/felddy/foundryvtt-docker/releases/tag/v0.6.5%2Ba) and [v0.7.0+b](https://github.com/felddy/foundryvtt-docker/releases/tag/v0.7.0%2Ba) have been published to docker hub.   Thank you again for your reporting, PR, and help testing.

I hope that when the https://foundryvtt.com eventually changes and breaks the license fetcher I can ping yo

[2020-07-26 20:54] #53 closed, assigned to felddy

[2020-08-02 07:18] pdf opened #56 "Reading from secrets fails after pivot to unprivileged user"
# 🐛 Bug Report

When the `entrypoint.sh` drops privileges via `su-exec`, and calls itself, it loses the ability to read from `/run/secrets/config.json` which is mode 0600 and owned by root:root. This causes a failure of the unprivileged user to read the secrets file, resulting in unpopulated variables, and unconfigured options (eg - admin access key).

## To Reproduce

- Follow instructions from R

[2020-08-02 18:50] felddy commented on #56
Thanks for the bug report.  Also thanks for the thoughtful analysis of the issue and possible fixes.

I'm not able to reproduce it on my development machine or on my production instance.  Both mount up the secrets as `0644`.   That said, it is very clear that this is happening for you, and is a valid issue.

Mac desktop:
[code]
Linux (Gentoo) server:
[code]

According to the most recent [secrets d

[2020-08-02 20:27] felddy commented on #56
@pdf I'm testing a possible fix now in branch `bugfix/secret_permissions`.  Could you try building the container locally and testing.    You'll need to temporarily change the tag in your compose file to `felddy/foundryvtt:test`.

Build command:
`docker build --build-arg VERSION=0.6.5 --tag felddy/foundryvtt:test https://github.com/felddy/foundryvtt-docker.git#bugfix/secret_permissions`

[2020-08-03 11:50] pdf commented on #56
Hmm, unfortunate.

Requested information, docker is installed from the official upstream repos:

[code]

And for completeness:
[code]

Indeed! Thank you very much for your kind sentiments :heart:. I haven't had much time to play with this today unfortunately, but I'll try to get the new branch tested ASAP and report back - I appreciate your attentive response.

[2020-08-03 14:08] pdf commented on #56
Happy to report that the `bugfix/secret_permissions` branch appears to resolve this issue here, and I have a fully-functional container running based on that code :tada:

[2020-08-03 14:12] felddy commented on #56
Woohoo!  Great success!  🎉
We'll take the wins where we can find them!
Thank you again for the great bug report.  I'll create new releases for `0.6.5` and `0.7.0` and push them to Docker hub momentarily.
Keep safe, and I hope to see you around.  🦘

[2020-08-03 16:09] #56 closed, assigned to felddy

[2020-08-12 08:02] deurk opened #60 "Any way to get access to the app directory from outside the container?"
# 💬 Questions and Help
Is there a way to incorporate FTP/SFTP/SAMBA/WEBDAV or any other protocol which would allow access to the app directory from outside the container to allow easier work with assets and worlds migrations for example ?

[2020-08-12 12:55] felddy commented on #60
All of your assets and worlds should be stored outside the container in the host filesystem.  That is the purpose of the `/data` [volume](https://docs.docker.com/storage/volumes/) that you should be bind mounting:

https://github.com/felddy/foundryvtt-docker#volumes

Using Docker:
`--volume /data:<your_data_dir>`

Or in a docker-compose file:
[code]

Foundry will use that volume for all [user data

[2020-08-13 08:55] deurk commented on #60
Thank you for your detailed answer. What I meant was more in the line of having the volume shared outside of the docker host.
I had not thought about it enough before asking the question though, since adding a samba or sftp container sharing the same volume will work for the need.

Thank you for your nice work 👍

[2020-08-13 08:55] #60 closed, assigned to felddy

[2020-08-23 00:39] kalebr opened #61 "Unable to run server on any port other than default"
# 💬 Questions and Help
Running using docker-compose, setting port to something like 30002 in the yaml file and also changing it in options.json file, when restarting the image, it resets back to port 30000.  How would I run an instance using a different port?

    foundry:
        container_name: fvtt
        image: felddy/foundryvtt:release
        restart: "unless-stopped"
        volumes:

[2020-08-23 02:40] felddy commented on #61
We covered a bit of this on the discord.  Just documenting it here for anyone else that has similar questions.

This `docker-compose.yml` file will run two Foundry services listening on ports `30001` and `30002`.

[code]

[2020-08-23 23:46] kalebr commented on #61
Got it to work by removing the
`
mode:host
`

[2020-08-24 21:31] felddy commented on #61
Glad you got it working!  🎉

Don't hesitate to me know if you have any other questions about the project.

[2020-08-24 21:31] #61 closed, assigned to felddy

[2020-08-27 09:55] IcedEagle opened #64 "If the optional FOUNDRY_VERSION variable is omitted by the user, container fails to startup due to parameter not set"
When removing the FOUNDRY_VERSION environment variable, even though it's listed as optional it led to failures on start up because it was missing.

When I set up the Docker container on my Synology NAS, the UI  did set it to a default value of 0.6.5 as expected. However, I wanted to remove this variable or else tools such as Watchtower, which auto update containers, would not work properly. Watcht

[2020-08-27 15:43] felddy commented on #64
Sorry this isn't working for you.  Could you attach the output from the following command to the issue.  If you are using the `alpha` or `beta` images please replace `release` with the appropriate tag.

[code]

Also, you post the docker command or `docker-compose.yml` file that you are using to start the container?

## Shot in the dark 🎯 ##

I'll take a shot in the dark on the cause of the issue:

[2020-08-31 20:43] IcedEagle commented on #64
@felddy Apologies for the delay. I believe your guess was correct! Some more details which may be useful if someone else runs into the issue in the future:

- I'm using a Synology NAS with the Docker GUI to do my setup and maintenance of containers.
- I initially set up my container to have the FOUNDRY_VERSION variable. Once I decided I wanted to try it without that variable, I then shut down the

[2020-08-31 20:43] #64 closed, assigned to felddy

[2020-10-04 05:01] eclarke12 opened #78 "Setting image to :beta pulled :release version instead"
# 🐛 Bug Report

Possibly I don't understand how the image works, but my assumption was that today (Oct 3, 2020), using `:beta` would pull version 0.7.3

## To Reproduce

Steps to reproduce the behavior:

- Create container
- Set image to `felddy/foundryvtt-docker:beta`

## Expected behavior

Foundry version 0.7.3 is installed in the container

## Any helpful log output

Please run this command:

[

[2020-10-04 05:06] eclarke12 commented on #78
For a moment I thought this might be caused by having the container cache turned on, but even with it disabled, it is still pulling 0.6.6

[2020-10-04 05:22] eclarke12 commented on #78
This was a PEBKAC. I duplicated an existing container and missed the `FOUNDRY_VERSION` env flag that was set to `0.6.6` sorry!

[2020-10-04 05:22] #78 closed, assigned to nobody

[2020-10-04 15:06] felddy commented on #78
No probs!  Glad you figured it out.  I'm here to help if things go south again.  Cheers!

[2020-10-14 04:16] felddy opened #84 "node:12-alpine linux/386 architecture breaking all container builds"
# 💥 Regression Report

The `linux/386` platform build is breaking.   This was caused by nodejs/docker-node#1344

The platform was disabled as a workaround in  2d6e989b1dbb1da6d5000bbb56ec42223bd0819b

- [ ] 👀 Watching upstream for resolution.

## Last working version

Worked up to version: `0.7.3`

Stopped working in version: `0.7.4`

## To Reproduce

Steps to reproduce the behavior:

- Make a rel

[2020-10-22 15:28] MacDork opened #92 "Unable to update lock within the stale threshold"
# 💬 Questions and Help
Mark --
First off; *thank you* for creating and maintaining this image.

I just updated to 0.7.5 and on my `docker-compose up`, the server hangs and I see:

[code]

Of note -- my Foundry data is stored on a network mounted drive, and has worked properly for a while now, but it seems like it may be relevant here.  Help?

[2020-10-22 16:50] felddy commented on #92
@MacDork, you're very welcome.  I enjoy keeping this container in shipshape.  This is my way of supporting the Foundry community.  Onto the locking issue...

This is most certainly related to the data store being on a network filesystem.   Searching the discord server for `stale threshold` shows people having this issue with USB sticks and the FAT filesystem.  It seems that another common cause fo

[2020-10-22 19:31] MacDork commented on #92
Thanks Mark --
I restarted the storage host and it's working again.  I still saw the error when I booted the container up, but after waiting a while, the server finished loading.

I use a script to shut down each of my docker containers, then rsync `docker-compose.yml` + any data directories (I store my data in the same directory as the compose for ease of use), then start the container back up.

[2020-10-22 20:02] felddy commented on #92
Great!  I'm glad you were able to get it working.   Thanks for sharing the specifics of your setup.  It'll help the next person that encounters that lock issue.

I hope it is all smooth sailing for you from here. ⛵
If I can help you with anything else in the future please do not hesitate to contact me.

[2020-10-22 20:02] #92 closed, assigned to nobody

[2020-10-25 17:06] cmbernard333 opened #96 "Health Check for docker container falsely reports unhealthy when foundryvtt is running with inbuilt https server"
# 🐛 Bug Report

The health check provided by `check_health.sh` does not provide the correct container status when the container is running using https (not behind nginx or other such server).

Https means setting the paths for both `sslKey` and `sslCert` and using the `inbuilt` ssl server.

## To Reproduce

Steps to reproduce the behavior:
- Start container using a docker-compose.yml specifying th

[2020-10-25 17:08] cmbernard333 commented on #96
This might not be a common scenario is it is better form to run `nginx` in front of foundryvtt, but for those who want to use a simpler setup it's easier to use `sslCert` and `sslKey`.

[2020-10-25 17:28] felddy commented on #96
I've pushed up a fix.  CI is currently testing it and building an image.

When it is done can you try pulling: `felddy/foundryvtt:bugfix-https_healthcheck` and checking to see if this addresses the issue.   The image should be done shortly.

You should be able to see the progress here: https://github.com/felddy/foundryvtt-docker/runs/1305459308?check_suite_focus=true

[2020-10-25 17:30] cmbernard333 commented on #96
Awesome! I'll keep an eye out.

[2020-10-27 04:02] felddy commented on #96
@cmbernard333 were you able to test this fix?
The [image is up on Docker hub](https://hub.docker.com/layers/felddy/foundryvtt/bugfix-https_healthcheck/images/sha256-62d626e81783b4b02f7e7adfbecc1486ec7aaf72f7a2eb26745fd4427c3ea7f4?context=explore&tab=layers).

[2020-10-27 14:40] #96 closed, assigned to felddy

[2020-10-28 02:20] hmqgg opened #99 "Generate the initial options.json even if CONTAINER_PRESERVE_CONFIG set to true"
# 🚀 Feature Proposal

https://github.com/felddy/foundryvtt-docker/blob/c780e0f9aafc154fa37bfb7d82624f0368adffba/src/launcher.sh#L22

It only checks `CONTAINER_PRESERVE_CONFIG` as for now, but didn't check if the file `options.json`/`admin.txt` exists. So it won't generate the initial config files if `CONTAINER_PRESERVE_CONFIG` set to true.

I think it's better to also check if the config files exi

[2020-10-28 02:31] felddy commented on #99
Awesome.  Thank you!  I actually just coded it up and pushed it up to GitHub.  CI is building  and testing the image from the branch now.

The image is on Docker Hub now.

If you want to try it out you can pull  `felddy/foundryvtt:improvement-write_config_once` .

[2020-10-28 16:46] felddy commented on #99
@hmqgg container `0.7.5+b` has been released and addresses this issue:
https://github.com/felddy/foundryvtt-docker/releases/tag/v0.7.5%2Bb

Please let me know if this feature is working for you as request.

[2020-11-01 03:26] hmqgg opened #102 "Prefer FOUNDRY_RELEASE_URL to fetching by USERNAME/PASSWORD"
# 🚀 Feature Proposal

Current behavior is that use `FOUNDRY_USERNAME`/`FOUNDRY_PASSWORD` (and `FOUNDRY_VERSION` if necessary) to fetch release URL even if you already set `FOUNDRY_RELEASE_URL` env var.
https://github.com/felddy/foundryvtt-docker/blob/70ead2b6f15a0dfe0bdb9037f90f03e189d8154b/src/entrypoint.sh#L69-L79

Requested feature is that always prefer `FOUNDRY_RELEASE_URL` if set, if it's inv

[2020-11-01 04:35] felddy commented on #102
I agree.  This is a good idea, and makes sense.  I'll try to work on this tomorrow.
Thank you for the well-written proposal!

[2020-11-01 06:10] hmqgg opened #103 "Make CURL respect 302 Redirect when download FoundryVTT ZIP file"
# 🚀 Feature Proposal

Currently, in `entrypoint.sh` when download FoundryVTT ZIP file, CURL doesn't follow 302 Redirect, causing failed download if that URL responses 302.

https://github.com/felddy/foundryvtt-docker/blob/ea65443f2c2ef95986346bf852e4e1c4adc8256b/src/entrypoint.sh#L92-L98

I'd say it's better to add `-L`/`--location` option to respect 302 Redirect.

## Motivation

Following 302 Red

[2020-11-01 18:02] #99 closed, assigned to felddy

[2020-11-01 18:28] #102 closed, assigned to felddy

[2020-11-01 18:28] #103 closed, assigned to felddy

[2020-11-02 11:11] hmqgg opened #105 "Authentication skipped although USERNAME/PASSWORD set with RELEASE_URL"
# 🐛 Bug Report

https://github.com/felddy/foundryvtt-docker/blob/559a5f64f62975d8b9c9d61926989cfcf2a88a5d/src/entrypoint.sh#L164-L191

If `FOUNDRY_RELEASE_URL`, `FOUNDRY_USERNAME` and `FOUNDRY_PASSWORD` set, during the installation step/fetching S3 URL, it skipped the initial authentication.

After that, the script won't authenticate again, so there is no `cookiejar_file`.

So it will run into L18

[2020-11-02 21:59] #105 closed, assigned to felddy

[2020-11-05 21:58] orangepeelbeef opened #108 "TURN server doesn't run"
# 🐛 Bug Report

When using the A/V service, a TURN server is supposed to startup and bind to udp:33478
I've enabled A/V in my world and no TURN server is spawned.

[2020-11-05 23:28] felddy commented on #108
I suspect that your container is not [publishing](https://docs.docker.com/config/containers/container-networking/#published-ports) all of the ports required by Foundry's internal TURN server.
See: https://foundryvtt.com/article/audio-video/#relay

By default these UDP ports are:`33478`, `49152`-`65535`

⚠️ A word of warning: Due to an long-standing bug in Docker, publishing large numbers of ports

[2020-11-06 02:00] orangepeelbeef commented on #108
I am publishing the ports, but the service isn't running/listening.  I even logged in with a root shell and looked around with netstat, it isn't there.

[2020-11-06 02:10] orangepeelbeef commented on #108
I did find this note on that page:
To disable Foundry's relay server, simply provide an empty list of turn configurations.

Does this container set blank turn config by default?  I am not passing any turnconfigs

[2020-11-06 03:23] felddy commented on #108
I am not an expert on the Foundry internals, but I am pretty certain that the TURN server is not a separate process.  Foundry `v0.7.5` uses version `v0.0.6` of the [`node-turn`](https://github.com/Atlantis-Software/node-turn#readme) package.  I expect this follows the same single-threading model as the rest of node.

This container does not set a value for`turnConfigs` in the `options.json` file u

[2020-11-06 18:22] orangepeelbeef commented on #108
Well, I blew the container away and rebuilt it and this time the TURN port is listening.  Not sure what was going on there, maybe something hosed up in the install process.  I used the exact same data directory and config files, so :shrug:   Sorry for the noise!

[2020-11-06 18:22] #108 closed, assigned to felddy

[2020-11-06 18:23] felddy commented on #108
Glad you got it working.  Feel free to ping me if anything else comes up.

[2020-11-14 13:06] logoff opened #112 "Invalid license after upgrading image"
# 💬 Questions and Help
I was using release v0.7.5 happily using Foundry VTT username and password. It fetched license as expected. But I decided to upgrade to the new v0.7.7 using `docker-compose pull` as stated in README.md file. I use the same `data` volume. When I try to use my deployment again, logs say (my license is valid):

I verified that the `data/Config/license.json` contains valid infor

[2020-11-14 13:17] logoff commented on #112
I simply restarted Docker after some investigation and it suddenly worked again. No clue what happened, because I did not change anything relevant...

[2020-11-14 13:17] #112 closed, assigned to nobody

[2020-11-16 20:43] DanielRonnstam opened #113 ""unzip: short read" error during container startup"
# 🐛 Bug Report

Hi. We have your Foundry VTT felddy docker image installed on a Synology 16+ server. We have 0.7.5 installed. We began to update to the latest 0.7.7, but the docker installation stops after just a few seconds.

## To Reproduce

Steps to reproduce the behavior:

See above.

## Expected behavior

The docker installation should not stop.

## Any helpful log output

Clicking the link d

[2020-11-16 21:02] felddy commented on #113
Are you able to run the `docker inspect` command?
The labels from the image will help me identify the correct version you are using and try to replicate it here.

Also the log output with `CONTAINER_VERBOSE`  set to true is needed.

The `short read` error means that the file it download was not a zip.  It was probably an html error message.   Are you behind a proxy or any other network device that

[2020-11-16 21:12] DanielRonnstam commented on #113
My Synology owner friend will answer these detailed questions as soon as he can. thanks.

[2020-11-16 21:25] felddy commented on #113
I just noticed in your screenshot that `FOUNDRY_RELEASE_URL` was set.  Please make sure that the URL is of the form: `https://foundryvtt.s3.amazonaws.com/releases/0.7.7/foundryvtt-0.7.7.zip?AWSAccessKeyId=AKIAISZIIE42YLQZKLEQ&Signature=%2BAH87tAE81MFgGCqesTEegjWI90%3D&Expires=1605559503`

I think you may have provided the wrong URL.  See:
https://github.com/felddy/foundryvtt-docker#using-docker-wi

[2020-11-16 21:59] DanielRonnstam commented on #113
With the URL you gave above, my Synology guy get "curl: (22) The requested URL returned error: 403 Forbidden"

In the container cache folder is foundryvtt-0.7.7.zip.

In SSH in the docker inspect commando, he gets the following;

sudo docker inspect felddy-foundryvtt1
[
    {
        "Id": "6be475a6fe38867b936c4756f0a9a4e5716e9a201e0824b3e65eae195c1bd6b1",
        "Created": "2020-11-16T19:18:32.7

[2020-11-16 22:01] DanielRonnstam commented on #113
![125469139_857585505044545_2436272142789951855_n](https://user-images.githubusercontent.com/48160813/99313315-9fa00280-285f-11eb-9642-81a9a061958c.png)

[2020-11-16 22:05] DanielRonnstam commented on #113
Also.. what URL should it be in FOUNDRY_RELEASE_URL ?

[2020-11-16 22:23] DanielRonnstam commented on #113
com.foundryvtt.version = "0.7.7"
org.opencontainers.image.authors = "markf+github@geekpad.com"
org.opencontainers.image.created = "2020-11-13T16:03:01Z"
org.opencontainers.image.description = "An easy-to-deploy Dockerized Foundry Virtual Tabletop server."
org.opencontainers.image.licenses = "MIT"
org.opencontainers.image.revision = "acf4d926c2645b9f810a2dff5169580d2354b78b"
org.opencontainers.imag

[2020-11-16 22:43] DanielRonnstam commented on #113
When my friend did a clean install it all worked, but he could not get the update from 0.7.5 to 0.7.7 to work. In the future, we would need updates to work. Please advise.

[2020-11-17 03:10] felddy commented on #113
I'm glad you got it working.

I deleted your comment containing the full `docker inspect` output as it contained your Foundry credentials.  I suggest you change your Foundry password at your earliest convenience.

Be aware that there is some oddness about how Synology runs its Docker containers.
One errant behavior is to pull image variables out and set them in the interface.  You should delete th

[2020-11-17 20:45] trprado opened #114 "How to set data folder to write mode"
# 💬 Questions and Help
Is it possible to set the data folder to rw permission? When I up my image, the permission of the data folder change to docker user, and it's not possible anymore to change unless I do it in Foundry.

[2020-11-17 22:23] felddy commented on #114
You can configure the owner of the data folder and the container's process.
Please read the documentation about optional environment variables:
https://github.com/felddy/foundryvtt-docker#optional

The variables that you want are `FOUNDRY_UID` and `FOUNDRY_GID`.

[2020-11-18 11:49] DanielRonnstam commented on #113
![125867637_165874815216555_7879445461386903859_n](https://user-images.githubusercontent.com/48160813/99524777-3a502c80-2999-11eb-8b81-e4073cf102c8.png)

In this Synology settings, my friend deleted the full variable FOUNDRY_VERSION with value as you told, but when restarting the system is set to a restart loop, it starts up not fully, and then begin to restart again and again. What do we do wrong

[2020-11-18 15:48] felddy commented on #113
I'm sorry you are still experiencing problems running the container.

I won't be able offer any further assistance until you provide the full textual (not a screenshot) output of the log with `CONTAINER_VERBOSE` set to `true` as specified in the bug report template.

For reference I expect the log output you provide to look like this:
[code]

[2020-11-19 09:00] DanielRonnstam commented on #113
[code]

[2020-11-19 15:36] felddy commented on #113
Thank you for posting the logs.  I do not see the `debug` messages that should be emitted when `CONTAINER_VERBOSE` is set to `true`.

I also do no see the problem you reported in this issue: `unzip: short read`.   Is this still occurring?

[2020-11-19 21:53] #114 closed, assigned to felddy

[2020-11-21 18:03] #113 closed, assigned to felddy

[2020-11-21 18:15] DanielRonnstam opened #115 "Modules folder indexing not working..."
# 💬 Questions and Help
Hi. When I upload modules directly to the Data folder on our Synology server, and then restart the synology, the new modules are not seen by Foundry. If I open a browser in Foundry and go to modules folder, the new modules are seen but they do not show up in the setup modules list.

Please advise what to do, I don't know if this is a bug or not.

[2020-11-21 21:52] felddy commented on #115
This does not seem to be a Docker container-specific issue.

Your best bet would be to ask in the [FoundryVTT Discord](https://discord.gg/foundryvtt) #toubleshooting channel.  It could be a FoundryVTT bug, and they'd be able to help.

[2020-11-21 21:52] #115 closed, assigned to nobody

[2020-11-27 15:58] TheLux83 opened #116 "Issues with traefik reverse proxy and nginx-proxy"
# 💬 Questions and Help

Hey there. I'm trying to make foundryvtt run in my docker environment with nginx-proxy or traefik as reverse proxy (I've tried on two different servers), but it seems that I'm unable to get a valid ssl certificate.
Here are the error messages from both proxies:

**Traefik**
[code]

**nginx-proxy**
[code]
Here is my docker-compose file:
[code]

For nginx-proxy erase everythi

[2020-11-27 21:41] TheLux83 commented on #116
Okay. It was definitely my fault. I forgot that I use another network for my nginx-proxy. It now works without problems.

[2020-11-27 21:41] #116 closed, assigned to nobody

[2020-11-28 05:22] RobbieG3 opened #117 "Container "Unhealthy" in Portainer"
# 🐛 Bug Report

Portainer labels this container as "unhealthy" with the "Failure count" climbing by one every 30 seconds. When I go into the Portainer event list, it just says "Unsupported event". I don't see anything problems in the actual container logs, and the container otherwise runs well. I am currently running containers on a QNAP NAS via Container Station.

## To Reproduce

- Install the p

[2020-11-29 21:14] felddy commented on #117
Thanks for the issue, and the great detail.

So I believe the `Unsupported event` you are seeing in the log is caused by this Portainer issue:
https://github.com/portainer/portainer/issues/2717

I don't think the event is causing the health check to fail.  I'll fire up a Portainer instance and see if I can reproduce it.

[2020-11-30 12:53] Sandvich opened #118 "License page empty on launch"
Hi,
Not sure if this is a foundry issue or a docker image issue, so I figured I'd ask.
I've configured the image on my remote server as well as nginx, and when I connect I get redirected to the license page as expected. But there's no text on the page, and so no way to proceed. Did I do something wrong in the setup?

My launch command is:
[code]

The NGINX file is a simple reverse proxy to port 30

[2020-11-30 14:34] Sandvich commented on #118
Welp, turns out I just didn't set up the proxy properly. I used your version of the proxy instead of the one I use for my own website and it worked xD

[2020-11-30 14:34] #118 closed, assigned to nobody

[2020-11-30 15:52] felddy commented on #118
This is my favorite kind of issue!  (The ones that close themselves!)
It sounds like it was a websocket proxy issue.  I'm glad you got it working. 🎉
Happy Gaming!

[2020-11-30 16:40] Sandvich commented on #118
Yup, exactly. My regular nginx proxy is intended for static pages, so it didn't have anything for sockets ^^;

[2020-11-30 21:03] quadur commented on #61
Okay I wan't to launch two instances using docker-compose on one machine using two different accounts. The main problem is that using the ports option seems to be ignored by the generated options.json; i.e. the following config still generates:

[code]

[code]

[2020-12-02 05:09] raindropworks opened #119 "Missing SSL support"
# 💬 Questions and Help
I suspect this is less bug and more user error. I'm setting up FoundryVTT through docker, and using apache to handle the reverse proxy. I can connect and download and access resources, but in the log, when I enter the map I get the following error:

The WebRTC server was requested to start, but Foundry Virtual Tabletop is not running in SSL mode which is required.

When I'd

[2020-12-02 05:17] raindropworks opened #120 "Permissions for /data not populating on host system properly?"
# 💬 Questions and Help
When I set up my docker run command, I told it to use FOUNDRY_PUID and FOUNDRY_GUID as 1000, which is my personal user account. However, the web host that's handling proxy is running from a different user (normal linux www-data). Neither seems to be what the container is using as the mount point for the /data folder on the host system is shown as the following:

drwxr-xr-x

[2020-12-02 16:14] felddy commented on #120
I'm sorry your having trouble with the container.  Please verify the accuracy of the environment variable names that you are setting.  To set the user id and group id you'll want: `FOUNDRY_UID`, and `FOUNDRY_GID`.

See: https://github.com/felddy/foundryvtt-docker#optional

[2020-12-02 16:18] felddy commented on #119
Please check the documentation for the environment variables: `FOUNDRY_PROXY_SSL`.  I believe this is what you are looking for.  See: https://github.com/felddy/foundryvtt-docker#optional

Additionally you may want to set `FOUNDRY_HOSTNAME`, and possibly `FOUNDRY_ROUTE_PREFIX`.

[2020-12-03 08:09] raindropworks commented on #120
Thank you, that was a case of user error, having PUID and GUID instead of UID and GID. Purging the directory and fixing those values has it showing up right now

[2020-12-03 08:09] #120 closed, assigned to felddy

[2020-12-03 09:02] raindropworks commented on #119
Thanks, I'm still relatively new to docker, so I was confused on the process, but adding `-e FOUNDRY_PROXY_SSL=true` to the docker run command (yes, I know docker compose is preferred) did seem to fix the SSL/WebRTC issue, and it seems after uploading a map I just had to exit the scene configuration and re-enter to select the image

[2020-12-03 09:02] #119 closed, assigned to felddy

[2020-12-07 13:53] cs96and opened #122 "Add hotfix for 0.7.8"
# 🚀 Feature Proposal

There is a hotfix for 0.7.8 on the discord server.  Could this be added to the docker version of 0.7.8 please?

https://discord.com/channels/170995199584108546/784244473261588480/784490927212855317

[2020-12-07 15:19] felddy commented on #122
Thank you for submitting this issue.

Once PR #123 is merged you can apply this patch to your containers by using either the `CONTAINER_PATCHES` or `CONTAINER_PATCH_URLS` environment variables.
See: https://github.com/felddy/foundryvtt-docker#optional

If you are using a `docker-compose.yml` file, the patch can be applied using this environment variable configuration:
[code]

Thank you again for t

[2020-12-07 15:20] #122 closed, assigned to felddy

[2020-12-07 15:59] cs96and commented on #122
That was quick.  Thanks!

[2020-12-07 16:08] felddy commented on #122
I was actually already writing it up when I saw you opened an issue.  I'm not that quick.  Just very good timing!

[2020-12-08 17:43] ratzofftyoya opened #124 "Container Stopped Working!"
# 💬 Questions and Help
Hi there! Not sure what happened. My container was working totally fine, including after pulling 0.7.8, but then it stopped working. On restart (including after removing image), I get the following in an endless loop.:

[code]

[2020-12-08 18:10] felddy commented on #124
Sorry you're having this problem.  I haven't had this behavior reported before.  I'll see what I can do to help.

I'll need some additional information to help diagnose:

How are you running the Docker container?  e.g.; docker-compose, docker CLI, ...

Could you please provide the container's configuration file, or command used to start it.

Please run this command:

[code]

Paste the results here

[2020-12-08 18:43] ratzofftyoya commented on #124
Thanks so much for your response!

Running with docker-compose (as I was previously)

Here is the compose script:
foundry:
    image: felddy/foundryvtt:latest
    init: true
    restart: "unless-stopped"
    networks:
      - traefik_proxy
    volumes:
      - type: bind
        source: /mnt/server/data/foundry/foundrydata
        target: /data
    environment:
      - FOUNDRY_PASSWORD=[mypassword

[2020-12-08 19:06] felddy commented on #124
You've got a typo in your environment variables: `CONTAINTER_VERBOSE` should be `CONTAINER_VERBOSE`.

After fixing that could you repost the logs.  You should see `[debug]` entries.

[2020-12-08 19:19] #124 closed

[2020-12-25 09:32] burnacid opened #135 "Container doesn't populate resolv.conf properly"
# 🐛 Bug Report

I'd like to supply my own dns server with the container using the --dns attribute. Yet this is not correctly picked up and inserted into the /etc/resolv.conf. This makes it impossible for the container to run in bridge networking mode

## To Reproduce

Steps to reproduce the behavior:

- Run the container using --dns 8.8.8.8
- The contain will not run properly as it cannot resolve

[2020-12-27 22:07] TimToxopeus opened #136 "Docker image fails to start with the latest version."
# 🐛 Bug Report

All of a sudden, a previously functional 0.7.9 image stopped working, and gets stuck starting in an endless chown loop. The image starts up, gets to "Setting data directory permissions", and then a whole bunch of chown errors arise.

## To Reproduce

I am unsure what caused the problem as it was working yesterday and stopped working when I got home today.

Some additional info:
I a

[2020-12-30 23:49] felddy commented on #136
This list of files is a bit concerning.  I think you may have misconfigured your volumes.   Specifically you shouldn't have `etc` under `Data`, nor should the `lib_all` tree be in there.

Could you please post a list of the volumes that you have mapped into the container.

[2021-01-03 00:34] jdmarble commented on #135
I'm seeing the same issue running in Kubernetes. Might be related to [this bug](https://github.com/gliderlabs/docker-alpine/issues/539) in Alpine.
Edit: scratch that. I rebuilt using `node:12-alpine3.10` and still had the problem.

[2021-01-03 21:34] jdmarble commented on #135
I [ported to node:12-slim](https://gitlab.com/jdmarble/foundryvtt-docker/-/commit/0e4f4b71edba3f95e8e101d1ceb6d72edb572be3) to successfully work around the problem. I'm running into a lot of DNS issues on alpine based images. Not sure if it's my k8s cluster's configuration, or what.

[2021-01-06 17:20] felddy commented on #135
Thanks for the research on this.  I'm not entirely against switching the base image from Alpine to Debian.  I'd like give upstream a bit of time to resolve this before jumping ship.

@jdmarble what was the impact to the image size using Debian-slim?

[2021-01-06 18:35] TimToxopeus commented on #136
Heh, it is entirely possible. I tried to set up my volume in such a way so that I could user jail someone so they could access it through commandline and do git operations. In the end, I couldn't get the user jail to work properly, so I gave up, and now I just have a messy volume. Maybe the easiest way to solve my problem is to just delete those folders and get rid of the user jail setup.

[2021-01-06 19:54] felddy commented on #136
Yes.  I think the chroot jail is causing the permission errors you are seeing.  Your idea to clean up the volume is a good one.  If that doesn't fix your error please feel free to reopen this issue.

[2021-01-06 19:54] #136 closed, assigned to nobody

[2021-01-07 03:56] jdmarble commented on #135
I expected the Debian (even slim) based image to be larger than the Alpine one. I was surprised, although I'm not sure I can trust the results because I don't understand them. I'm getting different numbers depending on the source.

[code]

The Gitlab repo reports for my "slim" spin: 32.56 MiB (edit: 34.14MB)
Your image size badge reports: 34 MB
Docker Hub reports the compressed image size for feld

[2021-01-07 20:27] felddy opened #141 "Update to Node.js version 14"
# 🚀 Feature Proposal

Node.js version 14 or newer is now required for FoundryVTT.

## Motivation

See:
https://foundryvtt.com/article/hosting/#install
https://gitlab.com/foundrynet/foundryvtt/-/issues/3545

[2021-01-07 20:59] #141 closed, assigned to felddy

[2021-01-13 14:03] zdaar opened #145 "Prevent entrypoint.sh from crawling mount points in data folder"
# 🚀 Feature Proposal

adding the `-xdev` flag to the find command to skip setting permissions on a mounted point
## Motivation

Whenever I create a container with the image the find command in `entrypoint.sh` user for setting permissions will crawl my nfs mounted points that I use for assets, destroying all of the permissions on the drive along with hanging for a very long time while it does so. S

[2021-01-13 19:08] felddy commented on #145
Thank you for the thoughtful proposal. I understand your use case.
Please take a look at PR #127 as it is very similar.

I think the solution to this issue is to set `CONTAINER_PRESERVE_OWNER` environment variable as documented here: https://github.com/felddy/foundryvtt-docker#optional

Let me know if this solution addresses your issue.

[2021-01-20 19:04] zdaar commented on #145
Hello felddy,

Thanks for your reply. This fixed my issue, permissions are preserved for the value path specified in the environement variable.
Much appreciated !

[2021-01-20 19:04] #145 closed, assigned to felddy

[2021-02-11 21:04] felddy opened #148 "Container composition hangs for zip user interaction when issued "stop" and then "up"."
# 🐛 Bug Report

This is an attempt to document the problem described in PR #146 by

@dankreek :

I am unable to reproduce it, but hope that I can get some log output from @dankreek demonstrating the behavior.

PR #146 should fix the issue as described, but the container should not be able to get into this state to begin with.   If it detects an existing installation it should not try to unzip a ne

[2021-02-11 21:18] felddy commented on #148
This logic should be preventing an installation from being re-attempted when a container is `up`'d after being `stop`'d:
https://github.com/felddy/foundryvtt-docker/blob/d49ea816ee82741374001fb111214c6143e33d4c/src/entrypoint.sh#L56-L58

[2021-02-20 12:36] MicahZoltu opened #149 "Tries to re-install every restart."
# 🐛 Bug Report
I installed using `FOUNDRY_RELEASE_URL` which worked the first time, but when I restarted the container it tried to download again but the URL was no longer valid.  I have a volume mount for `/data`, but no other volume mount, so it isn't surprising that the actual install wasn't retained.

## To Reproduce
1. Run with `FOUNDRY_RELEASE_URL` and `/data` mounted.
2. Wait for the URL to

[2021-02-20 12:44] MicahZoltu commented on #149
Note: Reinstalling also requires me to accept license key again and configure admin password again.

[2021-02-20 15:23] felddy commented on #149
If you recreate the container the Docker image needs to reinstall the FoundryVTT distribution.  The installation of Foundry does not persist by design.  Since you used the `FOUNDRY_RELEASE_URL` method, you'll have to provide a fresh link.

If you want to avoid this hassle you can do a few different things.  First, I'd use the `CONTAINER_CACHE` environment variable to store the downloaded release s

[2021-02-20 16:03] MicahZoltu commented on #149
The data volume did persist, as I retained my modules, worlds, etc.

[2021-02-20 16:10] felddy commented on #149
That is good news.

I know what the likely cause is then... if you're not setting the container's `hostname` then Docker is generating a new random one each time.  The EULA signature is tied to the hostname.  You'll need to set the `hostname` to a static value.   The example `docker-compose.yml` file in the `README.md` has an example of this.

[2021-02-21 02:00] MicahZoltu commented on #149
I tried your suggestion of using `CONTAINER_CACHE`.  I first ran with `FOUNDRY_RELEASE_URL` and `CONTAINER_CACHE` set, which successfully worked.  I then removed the `FOUNDRY_RELEASE_URL` and restarted the server but it failed to launch at a later point:
[code]

[2021-02-21 02:01] MicahZoltu commented on #149
Worth noting, that after one more restarts it appears to have worked.

[2021-02-22 23:05] #149 closed, assigned to felddy

[2021-02-27 06:13] adam8797 commented on #135
I think I'm being affected by this issue too, but in the weirdest way I could imagine. I've spent the last 4 hours debugging and searching lol. I'm spinning this up in Kubernetes.

Started when I got errors talking about rejected certs during the download process. I managed to get a shell into a container, and voila!

(all four commands ran in quick succession)
![image](https://user-images.githubu

[2021-02-27 06:34] adam8797 commented on #135
Update: Looks like that was unsuccessful. I was able to build the image successfully, but I still have the same problem. Sorry for the noise. Considering this may be unrelated, I can move my information to another ticket if you prefer.

[2021-03-04 19:12] cpcodes opened #154 "Add flag to use command line option --ignore-gpu-blacklist"
# 🚀 Feature Proposal

Per the optimization recommendations at https://prezi.com/view/Wpq1WQv92LC1KNwwAEyG/, put together by Anathema, this can force Foundry to use Hardware acceleration when it might otherwise be attempting to use software rendering, thus improving performance. This would be optional, and it could also cause problems with unsupported graphics cards.

## Motivation

Was double-chec

[2021-03-05 23:50] felddy commented on #154
Thank you for opening an issue for this.

From my quick read on this the `--ignore-gpu-blacklist` is a flag that would be passed to the Chromium browser.   Since this is not a flag that would be passed to Foundry I do not think it is applicable to the container.  That is, this container does not run a browser (client) , it only runs the web application (server) side of things.

When I get a chance

[2021-03-05 23:59] felddy commented on #154
If you enter `chrome://flags/#ignore-gpu-blocklist` into Chrome you will see the following documentation:

## Override software rendering list ##
[code]

So, I'm pretty confident that this is a Chrome flag.  Please let me know if you have some information to the contrary.

[2021-03-10 15:27] felddy commented on #154
Closing due to non-response.

[2021-03-10 15:27] #154 closed, assigned to felddy

[2021-03-10 15:48] felddy commented on #148
I was unable to reproduce this issue. I'd like to track down the root cause. While PR #146  should fix it, the container shouldn't be able to get into that state to begin with. This leads me to believe that there is another logic issue somewhere else.

Would you please paste some log output showing how you were able to get the container to stop for a user prompt in this issue.

Thanks you.

[2021-03-10 17:26] cpcodes commented on #154
All I have to offer are these screen shots from the previously linked presentation. Your argument makes sense, but they mention that in another tip (Prezi Foundry slide BHA), so I assumed that they were different things.
![Prezi Foundry slide BHA](https://user-images.githubusercontent.com/30065410/110670719-8f02f780-8182-11eb-9fb3-83a5b67d46b4.png)
![Prezi Foundry slide FHA](https://user-images.gi

[2021-03-13 17:18] yougotborked opened #157 "auto accept license"
Hi, is there any way to automatically accept the license on startup? I feel like if I've already done it, I shouldn't have to do it again.

Mabye this is more of a foundry quirk, than something related to your container?

[2021-03-13 21:37] felddy commented on #157
Hey @yougotborked .  Once you accept the license you should not need to accept it again unless you delete the signed license file, or the license changes.  This happened between `0.7.9` and `0.8.0`.

I know accepting a license is annoying, but that isn't something that I would want to automate.  It serves a purpose, and hiding it from the user would be a disservice.

That said, I do appreciate the

[2021-03-13 21:37] #157 closed, assigned to felddy

[2021-03-13 21:58] yougotborked commented on #157
Sorry if I was not clear,

I am caching the license (I think?), but for some reason every time I restart the container I have to re-accept the licence. the version did not upgrade or change.

These are the env vars I am setting,
[code]

And some lines from the startup log
<details><summary>logs</summary>
<p>

[code]
</p>
</details>

[2021-03-14 03:13] adam8797 opened #158 "Flag to bypass "Setting data directory permissions" step"
# 🚀 Feature Proposal

I would like a flag that would have the startup script skip the chmod of the data directory on startup

## Motivation

I mount the data directories from NFS, and I've already set the proper permissions on all files. With hundreds upon hundreds of shared files, it takes about three to four minutes on my saves

## Example

On environments where you know the uid/gid of the files

[2021-03-14 03:15] adam8797 commented on #158
This is a very quick addition I believe. I can't this weekend, but I imagine I'll be able to send a PR your way by next week. I'm thinking a simple environment variable like `FOUNDRY_SKIP_FILE_PERMS` set to `true` would do the trick. If its not provided, functionality doesn't change from current.

[2021-03-14 13:11] felddy commented on #158
@adam8797 good news! I think there is a feature that'll do this for you already.   Check out the [`CONTAINER_PRESERVE_OWNER`](https://github.com/felddy/foundryvtt-docker#optional) environment variable and discussion #153 .

I think you'll want to set  `CONTAINER_PRESERVE_OWNER` to `/data` to get the functionality you're proposing in your flag.

I truly appreciate your offer to implement this.

[2021-03-14 19:50] annonch commented on #135
I also have this networking issue in my k3s cluster. @jdmarble's repo worked :D

[2021-03-15 16:55] felddy commented on #135
I had hoped upstream would have fixed this issue in busybox, but that doesn't seem to be happening.    Also, this is starting to affect more people.

I have started a branch using the `node:14-slim` base image:
https://github.com/felddy/foundryvtt-docker/tree/improvement/debian

I'm a little concerned about the size increase (but it is not a show stopper):
[code]

The bigger issue that I need to r

[2021-03-15 17:02] adam8797 commented on #158
doh! This is very much a "read the docs" type issue.

Thanks @felddy! I'll implement using that env variable.

[2021-03-15 17:02] #158 closed, assigned to felddy

[2021-03-16 15:38] felddy commented on #135
Could I also get folks to try running this and posting the results.  I'm unable to reproduce the behavior here, and want to verify that it hasn't been fixed upstream:

[code]

[2021-03-16 15:47] adam8797 commented on #135
Sure thing. I'll test it this evening (or possibly tomorrow if I run out of time) and I'll post back here

[2021-03-16 16:23] annonch commented on #135
In case this is helpful.
I noticed that the `felddy/foundryvtt:improvement-debian` worked fine, however the following are errors in `felddy/foundryvtt:latest`
[code]

Results Locally

[code]
inside k3s: (yaml included) (this also worked setting the dns server to 8.8.8.8)

[code]

[2021-03-18 15:17] felddy commented on #135
@annonch Those are promising results.

When you get a chance could you check if the nightly build is exhibiting the same behavior as the last release:  [`felddy/foundryvtt:nightly`](https://hub.docker.com/r/felddy/foundryvtt/tags?page=1&ordering=last_updated&name=nightly)

If `node:14-alpine` is working, I'd expect that `felddy/foundryvtt:nightly` should work as well.

🤞

[2021-03-19 01:56] adam8797 commented on #135
Unfortunately I can't provide such good results. I'm running these in kubernetes

I just curled the foundry website to to test resolution. Here I used `wc` to condense the output. But the 4 word result is the bad DNS resolution, the 698 word result is the proper web page.

I tried this against `improvement-debain` but the behavior is still there:

![weird_dns_behavior_1](https://user-images.github

[2021-03-28 02:00] felddy opened #164 "Support setting of serviceConfig option"
# 🚀 Feature Proposal

Determine what `serviceConfig` option does, and support its configuration.
This is visible in `0.8.1`.  It might have been in `0.8.0`.
Undocumented at time of issue creation.

[2021-04-04 18:49] hugoprudente commented on #135
@adam8797 how are you running your K8S I never had an issue with the DNS resolution using the alpine container.

I did a 1000 requests in a row using @felddy example command and they all came out clean.

I know that with K8S sometimes policies or security groups if you are using in AWS can result in some inconsistent DNS resolutions.  I'm running foundry today in RPi4 with k3s, local with composer

[2021-04-13 05:50] aetaric commented on #135
I am also having this issue on a k8s cluster setup via kubeadm. This is the only container exhibiting the behavior and does so on both nightly and release-0.7.9. Not sure if it matters, but my k8s cluster is using CoreDNS and not kube-dns.

[2021-04-13 12:20] hugoprudente commented on #135
Hi @aetaric how the network on your clusters are configured, I saw problems with k8s and CoreDNS naming resolution due to the security groups and firewalls connections between the nodes.

On all my environments I never had issues and my K8S development that runs on AWS with EKS also has CoreDNS and doesn't have the problem.

[2021-04-13 20:07] aetaric commented on #135
Well, I am using flannel as the backing network fabric. So no network policy antics should be going on. I am running in vxlan mode for communication between nodes so that might have something to do with it?

As for physical and logical networking, all k8s nodes are same VLAN, same ToR switch, same subnet.

As I mentioned before, other containers are able to resolve DNS without issue and `improveme

[2021-04-14 04:31] aetaric commented on #135
So I might have some insight into what the container is doing weird here. I was reviewing my DNS query logs and it seems the container is appending the search domain from DHCP options to the foundry address.

[2021-05-26 12:40] vehrka opened #196 "Node 16 base Alpine image is incompatible with some arm/v7 servers"
# 🐛 Bug Report

I use a raspi4 for my Foundry hosting, I have no problems using `felddy/foundryvtt:0.7.9` (I have tried to recrate it after the present bug and had no problem.

But trying a `docker-compose up --build` of the following configuration I get an `Illegal instruction (core dumped)`

[code]

## To Reproduce

Steps to reproduce the behavior:

- Do this
  + run `docker-compose up --build f

[2021-05-26 15:50] felddy commented on #196
Sorry the container is giving you a hard time.    Thank you for the detailed output.

The logs show `node` is crashing.   Probably while trying to run the `authenticate.js` utility.

1. Could you post the output of `uname -a` on your Raspberry Pi 4?

1. Is there a reason the command you are using is `docker-compose up --build foundryvtt85` and not simply `docker-compose up` ?

1. Why are the times

[2021-05-26 17:04] vehrka commented on #196
Hi felddy,

no problem at all, Thank you for the time you give to the community!!!

Answering your requests:

`Linux cheraserver 5.10.17-v7l+ #1414 SMP Fri Apr 30 13:20:47 BST 2021 armv7l GNU/Linux`

Well, sorry for the mess, I C&P the first command I issued to the shell, but after the first build I have also tried with `docker-compose up` with the same results

I have no idea of the issue with th

[2021-05-26 17:25] felddy commented on #196
This is very odd.  I'm thinking there is an architecture mismatch of some kind going on.

I've got the same container successfully running on my Raspberry Pi 4, but with a 64 bit kernel.  Just going to paste some of my details in here for you to compare.  I'll continue to research this.

[code]

[code]

[code]

[code]

[code]

[code]

[2021-05-26 17:46] vehrka commented on #196
grrrr... It seems that raspbian by default installs a 32bit system instead of a 64bit version.

I have just seen how to upgrade the 32 to 64 bit version ... I'm going to check and will tell you the results, thanks!!!

[2021-05-26 17:54] felddy commented on #196
I had the same experience.  I think the 64bit is **almost** going to be released as default.

In any case, that shouldn't cause the issue you are seeing.  The container should work with 32 or 64 bit operating systems.

Let me know what you find.

[2021-05-26 18:22] vehrka commented on #196
I'm affraid we have no progress :(

[code]

[code]

[code]

[code]

[code]

Tried to rebuild the images and still get the `Illegal instruction (core dumped)`

[2021-05-26 18:29] felddy commented on #196
So... Can you explain what you mean by "rebuild the images"?

Are you doing anything more than: `docker-compose up` ?

See: https://github.com/felddy/foundryvtt-docker#running-with-a-docker-composition

[2021-05-26 18:34] vehrka commented on #196
Hi,

no, I mean, I removed the images and used `docker-compose up` again with both versions 0.7.9 and 0.8.5 (not at the same time), 0.7.9 works like a charm but 0.8.5 refuses to work

[2021-05-26 21:00] felddy commented on #196
I've got an idea.  Try this command and see if it works:

[code]

You should see:

[code]

[2021-05-27 07:36] vehrka commented on #196
Hey!,  Yes I get the same error!!

[code]

With `node:14-alpine` and `node:15-alpine` works well!!

It seems that's there is an [official solution](https://github.com/nodejs/docker-node/issues/1477)  for continue using node-16: using `node:16-alpine3.12`.

It seems that alpine3.13 and libseccomp2 < 2.4 doesn't work on some arm and raspbian come with libseccomp2 2.3.X

I made a quick test:

[code]

[2021-05-27 14:47] felddy commented on #196
This is very telling.  Thanks for running it down.

I think a move back to `node:14-alpine` would be the correct mitigation for this issue.  (`node:15-alpine` EOL is June 1.)

https://nodejs.org/en/about/releases/

Just for my own curiosity... what version of `libseccomp2` do you have installed?

[code]

Thank you again for opening the issue and doing all the diagnostics.

I'll start a PR for this

[2021-05-27 14:59] vehrka commented on #196
Hi!

[code]
Don't ask me why :scream:

Thank you, again and again, for your dedication!!!

The `not-too-distant-future™` sounds perfect ... But remember to taking it into account for the 0.8.6 :pray:

Bests!

[2021-05-27 15:40] #196 closed, assigned to felddy

[2021-06-02 15:33] cs96and opened #212 "Allow starting of container if foundryvtt.com is down, and release zip has already been downloaded"
# 🚀 Feature Proposal

foundryvtt.com went down for a few minutes earlier today, at the same time that I was trying to bring my container up.  The container failed to authenticate and gave up.

The release zip had already been downloaded from a previous run, and was in the cache, so it could have just carried on with the cached one.

[2021-06-03 19:22] felddy commented on #212
This makes sense.

I think the behavior you are looking for is the same as if `FOUNDRY_USERNAME` and/or `FOUNDRY_PASSWORD` are not specified.  As documented here: https://github.com/felddy/foundryvtt-docker#required-combinations

So if authentication fails all is not lost.  We can still fail forward to the cache.

[2021-06-08 22:46] JBlocklove opened #215 "Configuration Changes Won't Save"
# 🐛 Bug Report

When I try to make configuration changes on the setup page (default world, admin password, etc) they don't seem to save. The container restarts but nothing changes once it's back up.

## To Reproduce

Steps to reproduce the behavior:

- Start up a container
- Change the default world or another value in the "Configuration" pane
- Save the change
- Re-enter the "Configuration" pane

[2021-06-09 02:18] felddy commented on #215
Sorry you're running into this.  I should document it more clearly in the `README` how the configurations are handled in the container.

When the container starts up the `options.json` file that stores FoundryVTT's configurations is generated using the [optional environment variables](https://github.com/felddy/foundryvtt-docker#optional).

Normally, if you make changes within the web UI, they will

[2021-06-09 09:03] JBlocklove commented on #215
Gotcha. Yep, all works well now. I had thought something about the additional env variables was messed up because I did have an admin password set in those and it wasn't working, but it turns out that I had a typo in there as well. Fixed that and it all works as planned. Thanks!

[2021-06-09 09:03] #215 closed, assigned to felddy

[2021-06-13 05:19] jdmarble commented on #135
I've resolved the DNS issue I've been having while running this and other Alpine based images in Kubernetes clusters on my network.

_Short answer_: I turned off DNSSEC for my domain name managed by Cloudflare and everything started working.

Read on for details.

Some information about my setup:
* I use Cloudflare DNS to setup DNS TXT entries for letsencrypt so that my internal only servers can b

[2021-06-13 17:18] Ganayan opened #217 "Cross origin error in current release version"
# 🐛 Bug Report

After entering the admin password, the website crashed with a cross-origin error.
## To Reproduce

Steps to reproduce the behavior:

Update to the current release version.
Try to activate VTT using the correct admin password.

## Expected behavior

Entering the correct credentials should lead me to my vtt setup.

[2021-06-14 14:17] felddy commented on #217
Thank you for reporting this.

This has been determined to be a FoundryVTT 0.8.6 issue.
See discussion #210
And the upstream issue: https://gitlab.com/foundrynet/foundryvtt/-/issues/5263

[2021-06-14 14:17] #217 closed, assigned to felddy

[2021-06-22 22:47] OrangeDrangon opened #220 "Container Patch Scripts for Prebuilt Images"
# 🚀 Feature Proposal

Enable some method of running container patch scripts for containers built with credentials.

## Motivation

I prefer to build the containers with foundry installed using my credentials but also enjoy the convenience of the patch scripts. I personally patched `entrypoint.sh` to run the patch scripts every launch not just when foundry is being installed but figured there might

[2021-06-23 21:13] krusty4president opened #222 "Include Node14 js in the image"
# 🚀 Feature Proposal

A clear and concise description of what the feature is.

## Motivation

Please include the Node 14 js in the image so we can continue run the image on Synology NAS  drives. Thanks

## Example

Please provide an example for how this feature would be used.

## Pitch

Why does this feature belong in this project?

[2021-06-24 13:54] felddy commented on #222
The current version of Node.js used by the container is 14:
https://github.com/felddy/foundryvtt-docker/blob/848328f046c2175e36020639adc2b458de281d9a/Dockerfile#L36

This was implemented and merged in PR #142 on January 7th, 2021 to address issue #141.

You should see entries similar to this in the container logs:
[code]

What version of the container are you running, and what version of Node.js a

[2021-06-25 13:50] bsas opened #223 "Support for 0.8.8 version."
# 🚀 Feature Proposal

Add support for FoundryVTT v0.8.8

See: https://foundryvtt.com/releases/0.8.8

[2021-06-25 13:51] bsas commented on #223
.

[2021-06-25 14:24] felddy commented on #223
This is already underway.
See branch: https://github.com/felddy/foundryvtt-docker/tree/release/0.8.8

Since there were new options added to `0.8.8` this is a bit more work than a simple version bump.

* Custom TURN configs are back, but they are not configurable from `options.json`.  See clarification: https://gitlab.com/foundrynet/foundryvtt/-/issues/5406
* New "demo" mode feature added.  See: ht

[2021-06-25 14:25] bsas commented on #223
Nice! :D

[2021-06-25 14:26] felddy commented on #223
This issue can stay open until it is completed.  It will auto-close when the PR is merged.

[2021-06-25 15:20] #223 closed, assigned to felddy

[2021-07-01 19:15] #222 closed, assigned to felddy

[2021-07-01 19:16] #148 closed, assigned to felddy

[2021-07-04 23:08] OrangeDrangon commented on #220
Opened a pull request draft that begins to address this.

[2021-07-30 22:47] felddy opened #230 "Add patch utility"
# 🚀 Feature Proposal

Add the patch utility to the docker image.
[code]

## Motivation

Patch scripts often need to patch files.  Instead of having them install this it would be cleaner to do it a build time.

## Pitch

It would make modder's lives easier.

[2021-08-08 15:17] caewok opened #231 "Support Foundry v9"
Please add support for Foundry V9 Prototype 1. I understand that Foundry recently re-did its versioning, so this might require some adjustments to how you have been tagging releases.

FYI, I tried to side load V9 by adding it to container_caches and adding `FOUNDRY_VERSION=0.9.220` to my docker compose file. This almost works. I can see in the logs:

The license screen shows up and I can confirm i

[2021-08-08 20:25] felddy commented on #231
Thank you for opening the issue.  I'm glad the container is helpful to you.

I've started work on this already and hit the same problem.  I've determined there is a bug in FoundryVTT v9.220 and opened an issue on GitLab to track it:

https://gitlab.com/foundrynet/foundryvtt/-/issues/5693

The new versioning scheme used by FoundryVTT will be a bit of a chore to work around, but I think I've come up

[2021-08-09 15:47] felddy commented on #231
I've pushed the branch I am working on up.  Unfortunately another casualty of the ["new approach to versioning"](https://foundryvtt.com/article/versioning/) has snagged testing in CI.  Foundry is reporting that it is version `9.0.0` which causes the pre-installed images to fail during testing.

I've opened another issue on GitLab to request clarification or remediation of the `version` field in `p

[2021-08-09 16:17] felddy commented on #231
Posting [the reply from Cory](https://gitlab.com/foundrynet/foundryvtt/-/issues/5704#note_646743272) here in case it is deleted from GitLab:

[2021-08-09 16:36] felddy commented on #231
The branch is now passing all the tests.  A test container is published from the branch.

You can pull the image using: `felddy/foundryvtt:release-9.220`

I'm going to leave this issue open as I still need to figure out how tagging will work for pre-releases and update the documentation accordingly.

[2021-08-09 19:48] caewok commented on #231
Great; Thanks!

Sent from Yahoo Mail for iPhone

On Monday, August 9, 2021, 10:36, Mark Feldhousen ***@***.***> wrote:

The branch is now passing all the tests. A test container is published from the branch.

You can pull the image using: felddy/foundryvtt:release-9.220

I'm going to leave this issue open as I still need to figure out how tagging will work for pre-releases and update the documenta

[2021-08-15 19:34] chris-sanders opened #234 "FOUNDRY_WORLD isn't autostarting"
# 🐛 Bug Report

After setting the env FOUNDRY_WORLD I'm still not seeing the world auto-start. I've checked, the evn is set and it's on options.json as "world".

## To Reproduce

- Create world
- Set the name of the world in FOUNDRY_WORLD env
- restart the container
- Log in, accept EULA
- Log in as admin
- Launch the world you wanted

## Expected behavior

Above after the restart I was expecting

[2021-08-16 15:05] caewok commented on #231
FYI, I had a chance to test, and seems like it is working now. Thanks again!

[2021-08-16 17:25] felddy commented on #234
FWIW the `docker inspect` command just provides details to help me make sure I'm using the same image.  I'll just assume you're using the latest `0.8.8` release.   I'll try to reproduce the issue you're seeing.

[code]
[code]

[2021-08-16 17:51] felddy commented on #234
So I configured `FOUNDRY_WORLD` and when I hit the server I was taken directly to the `/join` page for the world as expected.  I do have an admin password set.  In this case I used `FOUNDRY_WORLD=kobold-cauldron`.

I did notice that your logs both show `Software license verification failed`.  Which means you are being redirected to the `/license` page at each startup.  So I invalidate my license a

[2021-08-18 23:01] #84 closed, assigned to felddy

[2021-08-20 02:01] richardklint commented on #234
Just had this issue as well and fixed it by specifying `--hostname foundry-container`. May want to consider making a note about the hostname being (pretty much) required in the README.

Thanks 👍

[2021-08-21 19:36] hugoprudente commented on #135
I have upgraded my K8S Cluster to 1.22 and first time I got this error.

Just to let registered here the fix for me was ensure that `CoreDNS` was sending the resolution to a external resolver adding the `8.8.8.8` to the ConfigMap

[code]

[2021-09-11 18:17] chris-sanders commented on #234
I don't know why I didn't get a GitHub notification about this. Thanks I played with it and after realizing I need to set the hostname not the environment hostname variable it's working. Thanks!

[2021-09-11 18:17] #234 closed, assigned to felddy

[2021-09-13 17:20] Mifgan opened #240 "Network error licensing 0.8.9"
# 🐛 Bug Report

Hi!
I just installed a clean (and first) installation of Foundry 0.8.9 through Docker (felddy-foundryvtt, release-0.8.9 and release) on a Synology DS420+.
Getting it from the website through the url from within Docker didn't work, so I downloaded the zip to container_cache (succesfully recognised), booted it and filled in my license key.
Then it showed the EULA... which keeps on sp

[2021-09-14 09:06] Mifgan commented on #240
I've tried to work from the console this time, but I get the same authentication error
``` Unable to authenticate: request to https://foundryvtt.com/ failed, reason: getaddrinfo EAI_AGAIN foundryvtt.com```

![image](https://user-images.githubusercontent.com/13572985/133228858-754db081-bf11-4e48-9516-ebbef2b16c3f.png)

[This](https://stackoverflow.com/questions/40182121/whats-the-source-of-error-ge

[2021-09-14 12:18] Mifgan commented on #240
I tried the risky 'Let's turn the firewall off!' option and it accepted the EULA!
I have no idea which firewall rule was the culprit as 80/443 were open (and 30000, but I plan to close that to use my reverse proxy again).

[2021-09-14 12:18] #240 closed, assigned to nobody

[2021-09-18 16:18] caewok opened #243 "Avoid trying to chown read-only folders"
# 🐛 Bug Report

I set up a mount to my Backblaze S3 drive using s3fs, which in turn is mounted in the docker image. I am using this to store certain very large images (e.g., from map modules) to avoid having to use a larger VM storage. (I know that Foundry can see S3 drives, but in some cases this seems to be the easier solution for more complex map modules.)

This works well, except that this doc

[2021-09-18 16:27] felddy commented on #243
Take a look at the documentation for `CONTAINER_PRESERVE_OWNER` in the [README](https://github.com/felddy/foundryvtt-docker#optional).  I think this feature will address your concerns.

See also:
 - https://github.com/felddy/foundryvtt-docker/discussions/153
 - https://github.com/felddy/foundryvtt-docker/discussions/168

Let me know if this helps.

[2021-09-18 16:40] caewok commented on #231
Update for those who may be interested: I updated to V9 Prototype 2 by adding it to container_caches and adding FOUNDRY_VERSION=0.9.224 to my docker compose file.

[2021-09-18 20:05] caewok commented on #243
Yep, that addresses it! Sorry I missed it in the README.

[2021-09-18 20:05] #243 closed, assigned to nobody

[2021-09-19 17:39] felddy commented on #231
`9.224` was released.  I have update (and renamed) the branch with the prototype support.

The `--noupdate` flag is no longer a blocker, but there is still something funky going on with updates in general.

You can pull the image using: `felddy/foundryvtt:prerelease-9.x`

I still need to do more testing, and determine how to handle the new versioning scheme.  I am leaning towards having only `:rel

[2021-09-20 01:46] caewok commented on #231
That sounds like a good plan. I would use the pre-release tag. I usually run one docker image just for personal testing of modules and such on whatever the latest pre-release is. Then another for actual games on the stable version.

[2021-09-24 14:35] felddy opened #244 "Out of memory error with FoundryVTT 8.9 when closing game world"
### Discussed in https://github.com/felddy/foundryvtt-docker/discussions/242

<div type='discussions-op-text'>

<sup>Originally posted by **Centor1982** September 17, 2021</sup>
I just upgraded my docker instance to 8.9 of foundry and now for some reason, the docker is restarting every time I close a game world out and try to go back to the main menu.

[code]
</div>

[2021-09-24 15:31] laetha commented on #244
# 🐛 Bug Report

Every time I click "Return to Setup" the container stops with the following error:

[code]

## To Reproduce

Steps to reproduce the behavior:

- Enter any world
- Click "Return to Setup"
- Container Stops

## Expected behavior

Return to setup menu without crashing the docker container.

## Any helpful log output

[code]

Run the container with `CONTAINER_VERBOSE` set to `true`,and

[2021-09-29 02:59] Centor1982 commented on #244
I had this error until I upgraded my memory in my Synology to 8GB and it fixed it for a while. I'm now getting a different error that may be unrelated. Will start a separate issue for it.

[2021-10-14 15:08] felddy commented on #231
I've updated the `felddy/foundryvtt:prerelease-9.x` image to support FoundryVTT `9.225`

See: https://foundryvtt.com/releases/9.225

[2021-10-14 15:34] felddy commented on #231
The funkiness with `--noupdate` flag is still occurring.  I've opened an issue on the FoundryVTT Gitlab repo.

See: https://gitlab.com/foundrynet/foundryvtt/-/issues/6012

[2021-10-25 06:24] MicahZoltu commented on #113
I'm getting this as well when trying to update to 0.8.9:
[code]
The container crashes and restarts at that point.
Configuration:
[code]
I ran initially with `FOUNDRY_RELEASE_URL` uncommented, then again with it commented out.  `/data` is a mounted volume.

[2021-10-25 06:28] MicahZoltu commented on #113
I manually deleted the files in `/data/container_cache` and ran again with `FOUNDRY_RELEASE_URL` set, but after it downloads it runs into the same error (`unzip: short read`).

[2021-10-30 14:21] MicahZoltu commented on #113
The problem was my download link was for the Windows version, not the Linux version!  🤦

[2021-11-07 10:26] CaosFR opened #255 "Can't change language for core."
Edit :
**SOLVE**
Use in docker-compose.yml **FOUNDRY_LANGUAGE=fr.fr-core** instead of **FOUNDRY_LANGUAGE=fr.core**

# 🐛 Bug Report

Hi,

When I try to modify the core language of my Foundry the language stay in English

Thanks

## To Reproduce

Steps to reproduce the behavior:

- Go to "add-on Modules"
- Instal : "FR - Traduction du core"
- Go to "Configuration"
- Select "Français - FR - Traductio

[2021-11-07 11:56] #255 closed, assigned to nobody

[2021-11-08 06:23] sPOiDar commented on #231
I built the container with 9.226 and had no problems.

Also, 9.225 downloads from foundry upstream now appear to fail.

[2021-11-08 16:54] CaosFR opened #256 "Reverse solidus (backslash) in secrets json file causes jq parse errors"
# 🐛 Bug Report

Hi,

I try to use the secret in my docker-compose.yml but I got a error at start.
Maybe it's bad formating at the ligne 3 but after a huge search in dont find my error.
Of course I have test my docker-compose without sercret file. It work well

Thanks for help

## To Reproduce

My files :
[code]

secrets.json

[code]

docker-compose.yml
[code]

## Expected behavior

Run the contena

[2021-11-08 20:54] felddy commented on #231
I've updated the felddy/foundryvtt:prerelease-9.x image to support FoundryVTT 9.226

See: https://foundryvtt.com/releases/9.226

The [`--noupdate` issue](https://gitlab.com/foundrynet/foundryvtt/-/issues/6012) I opened was fixed, but... The interface doesn't seem to be pulling the UI text from the localization file.  So the Docker-specific warnings that the entry point patches in are not being dis

[2021-11-08 21:15] felddy commented on #256
I suspect that your password has [reverse solidus (backslash)](https://www.compart.com/en/unicode/U+005C) in it which is causing `jq` to parse it as an escape sequence.  Add a second backslash to properly escape it.  e.g.;`foo\bar` would become `foo\\bar`

See: https://www.json.org/json-en.html

You can test the parsing outside of the container with this command:
[code]

Let me know if my guess wa

[2021-11-08 21:19] CaosFR commented on #256
You'r the boss felddy, it was that :)

Thanks a lot.

[2021-11-08 21:21] #256 closed, assigned to nobody

[2021-11-15 16:42] xholicka opened #257 "Out of memory error with FoundryVTT 8.9 when importing large assets"
# 🐛 Bug Report

A clear and concise description of what the bug is.
Importing large assets (one 10MB file) from compendium to gameworld crashes docker and restarts container(s).

Docker logs:
[code]

## To Reproduce

Steps to reproduce the behavior:

Install this Addon:
https://pyramking.gitlab.io/foundry-adventure-modules/countscrypt/mS3CsUxba11s/module.json

Try to import it to your game world o

[2021-11-15 16:47] xholicka commented on #257
From:
https://developer.ibm.com/articles/nodejs-memory-management-in-container-environments/

When Node.js applications are running within containers with memory limits set (using the `--memory` option for docker or any other flags with your orchestration system), use the `--max-old-space-size` option to ensure that Node knows its limit and that the set value is smaller than the container limit.

[2021-11-17 12:46] xholicka commented on #257
The mentioned module

https://pyramking.gitlab.io/foundry-adventure-modules/countscrypt/mS3CsUxba11s/module.json

was "repaired" by author in version 1.1.1 so this doesnt happen anymore.

[2021-11-17 20:28] felddy commented on #231
I've updated the `felddy/foundryvtt:prerelease-9.x` image to support FoundryVTT 9.227

See: https://foundryvtt.com/releases/9.227

[2021-11-25 07:28] crogonint opened #262 "Add package-lock.json file to the repository"
# 🐛 Bug Report

A clear and concise description of what the bug is.
npm notice created a lockfile as `package-lock.json`. You should commit this file.
When I looked it up, I got references saying that it needs to added to the git??

Steps to reproduce the behavior:

[code]

[2021-11-28 18:53] felddy commented on #262
You are correct.  It is a best-practice to commit the `package-lock.json` file to the repository:

https://docs.npmjs.com/cli/v8/configuring-npm/package-lock-json

I will include one for the next release.

[2021-12-21 04:12] felddy commented on #231
Container version `9.238.0` has been released.
See:
- https://github.com/felddy/foundryvtt-docker/releases/tag/v9.238.0
- https://foundryvtt.com/releases/9.238

[2021-12-21 04:12] #231 closed, assigned to felddy

[2021-12-25 06:37] dany-jorge opened #268 ""Fatal error in , line 0 ... unreachable code" on Raspberry Pi"
# 🐛 Bug Report #

Image for v9.238 will not run on RPI.  Always stops with error ""Fatal error in , line 0 ... unreachable code".  Container will continuously restart.

## To Reproduce ##

Running on Linux raspberrypi 5.10.63-v7l+ arm71

Pulled same image on Docker for Windows and starts as expected.
Spun up Node directly on RPI  and was able to run Foundry normally.
Downgraded the container's ima

[2021-12-25 16:30] felddy commented on #268
Weird, looks like a NodeJS crash.

I also run my instance on a Raspberry Pi, but I am not seeing this.  I'm dumping my machines info below.  I'll do some Node research and see what I can dig up.

In the meantime let's see if `node` can run at all.  Try executing this:
[code]

My machine info:

[code]

[2021-12-25 20:58] dany-jorge commented on #268
Here is my machine info:
[code]

[2021-12-25 22:38] felddy commented on #268
@dany-jorge were you test run `node --version` using the command above?

[2021-12-26 01:55] dany-jorge commented on #268
First command I ran.

[code]
Continued testing and have some new clues.
I am running Raspbian GNU/Linux 10 based on Debian Buster
As an additional test I swapped out the OS on my RPI and installed the new OS based on Debian Bullseye to match your Linux 11. After upgrading the OS I was able to run the image without problems.
So appears to be specific to Debian Buster

[2021-12-26 08:35] vehrka commented on #268
Hi, same problem here

Also running Linux 10

[code]

I will try to update the OS

[2021-12-26 09:15] vehrka commented on #268
I can also confirm that after updating to Bullseye the docker runs OK

[2022-01-11 04:32] BitRacer opened #276 "EAI_AGAIN error on microk8s"
# 🐛 Bug Report #

I am unable to cleanly start the `:stable` version of the container on my 4 node microk8s cluster(arm64v8)
## To Reproduce ##

Steps to reproduce the behavior:
- create config map
[code]
- create deployment
[code]
## Expected behavior ##
expecting the container to start up cleanly.  What I find odd here is the `EAI_AGAIN` error seems to be related to DNS, however the container do

[2022-01-11 18:38] felddy commented on #262
`package-lock.json` was added to the repo on December 7th, 2020.

https://github.com/felddy/foundryvtt-docker/commits/develop/package-lock.json

[2022-01-11 18:38] #262 closed, assigned to felddy

[2022-01-11 18:42] felddy commented on #276
This is probably related to, or the same as, issue #135

@BitRacer could you take a look through that issue and see if any of the behaviors you are seeing are similar.

[2022-01-11 18:57] BitRacer commented on #276
I did look at that one before I opened this.  I'm not sure if it is related since I do appear to be able to run an nslookup from the container.  My CoreDNS config looks very similar as well.

[code]

[2022-01-12 19:56] BitRacer commented on #135
I have not been able to fixt his yet but I suspect this may be an issue with core DNS.

Lookups for foundryvtt.com appear to be failing because passthrough does not seem to be working

from coredns logs

[code]

no lookups for foundryvtt.com though.

[2022-01-17 12:49] hugoprudente commented on #135
I'll test again this on my 3 k8s clusters with the Alpine image (my default), and update here and in the other thread too. I'm still have the 8.8.8.8 on my CoreDNS so I'll try both, and edit this post

My 3 clusters runs today K8S Version

[code]

Runnin CoreDNS **k8s.gcr.io/coredns/coredns:v1.8.4**

[code]

Confirmed with the same

[code]

I have found something interesting that may solve the iss

[2022-01-22 07:34] susscribe commented on #117
i can run the images as healthy. so perhaps a problem with the enviroment/label configuration

[2022-01-27 16:17] orangetruth commented on #268
Updating to Bullseye also fixed this issue for me

[2022-01-27 19:50] theczarek opened #281 "Ssh not avalible in latest version"
# 🐛 Bug Report #

After deploing new Foundry V9 instalation  on hosting service (using Unicloud.pl) using docker I cannot connect via ssh.
Version lower than 9 working fine on the same configuration. Cannot connect niteher via Fillezilla with keys nor via native webssh console on hosting service panel.

[2022-01-27 21:37] felddy commented on #281
I'm sorry I cannot provide any help with this issue as this container does not implement an `ssh` server.

If you could elaborate more, and use the issue template, I might be able to point you in the right direction.

[2022-01-27 21:37] #281 closed, assigned to nobody

[2022-01-30 05:42] mikelococo opened #282 "Better error message when downloading windows installer"
# 🚀 Feature Proposal #

Emit a more beginner-friendly error message in the scenario when:

- You use the FOUNDRY_RELEASE_URL environment variable to fetch the foundry package via a timed url
- You mistakenly download the wrong package format by accident (like downloading the windows installer)

The current error message is simply `unzip: short read` which doesn't point you much in the right direct

[2022-01-30 21:15] mikelococo commented on #282
For completeness, here's the file output for the OSX dmg:

[code]

It's unique from both the windows and the node/linux output, so each of the three installers can be disambiguated.

[2022-01-30 21:44] yoshikidneo commented on #268
I'm currently using Twister OS for my Pi that hosts Foundry and version 9 does not work. Currently Twister OS is still on Linux 10. Any chance this will get resolved or would I need to change OS to get Foundry v9?

[2022-02-01 14:46] felddy commented on #282
This is a solid proposal.  💪
I agree that it would make a great addition to help mitigate a common pitfall.
Thank you for the write up, and the related PR.

[2022-02-06 00:31] michalzc commented on #281
@theczarek  I had the same problem and after some digging, I nailed it down. Looks like the unicloud.pl has a problem with newer versions of the alpine system. Check out the code, update the Dockerfile as below and build your own image.
-ARG NODE_IMAGE_VERSION=16-alpine3.15
+ARG NODE_IMAGE_VERSION=16-alpine3.11

[2022-03-19 19:25] TaakoMagnusen opened #299 "Support parsing FOUNDRY_VERSION with `release` tag as well as null/empty FOUNDRY_VERSION"
# 🚀 Feature Proposal #

I'm using unraid to set up the docker and it supports optional variables but requires a default, meaning I have to either remove the foundry version variable or set it to a valid default. I'd like to be able to use the `release` docker image but pull an image based on FOUNDRY_VERSION, where null/empty FOUNDRY_VERSION (but still defined) pulls the latest foundry.

Also it wo

[2022-03-27 18:37] ErroneousBosch opened #304 "Persistent/bindable install dir for foundry app"
# 🚀 Feature Proposal #

A clear and concise description of what the feature is.

Allow the 'resources' directory, where foundryvtt is installed, to be bindable.

Please outline the motivation for the proposal.

Downloads from foundryvtt.com can be painfully slow these days and that 184mb package can take 20+minutes, and with such a large package, it would be nice to be able to have the foundryvtt

[2022-03-28 04:22] felddy commented on #304
Take a look at the `CONTAINER_CACHE` environment variable.  I think this might be what you're looking for as far as speeding up distribution downloads:

https://github.com/felddy/foundryvtt-docker#pre-cached-distribution-variable

Let me know if this addresses your concern.

[2022-03-29 19:17] ErroneousBosch commented on #304
I think this will cover it. Thank you

[2022-03-29 19:17] #304 closed, assigned to felddy

[2022-04-03 17:43] felddy opened #306 "Investigate excessive download loop of FoundryVTT releases from S3"
# 🐛 Bug Report #

There is a report of what seem to be misconfigured containers constantly downloading Foundry VTT releases on a loop.

## Facts ##

- This behavior started on `2022-03-14` and is still continuing.
- A single IP transferred over 30GB of data in a 30 minute period.
- Version `9.249` and `9.255` are the most downloaded release versions.

## Timeline ##

- 2022-02-01 19:25 EST - [Cont

[2022-04-03 17:50] felddy commented on #257
Closing as it was repaired by the Foundry plugin author.

[2022-04-03 17:50] #257 closed, assigned to nobody

[2022-04-05 01:07] luthes opened #309 "Environment variable interpreted as a string"
# 🐛 Bug Report #

I'm using AWS ECS, which gets it's IAM credentials the same way an EC2 instnace would. Setting the FOUNDRY_AWS_CONFIG environment variable to "true" causes it to be read as a string, and it subsequently gets added to the path: `The configured awsConfig path /data/Config/true does not exist or is not accessible.`.  This should not happen, as ECS gets it's IAM credentials the same

[2022-04-05 02:03] felddy commented on #309
Hmmm.  That does sound broken.   Thanks for the bug report.

It's weird that your application options is logged as: `"awsConfig": null`, although you can clearly see the error below.

I haven't had a chance to play with the container with ECS, EKS, or Fargate yet so this might take me a bit of time.

I'm just going to paste some context below...  I'm not going to be able to dig into it tonight, bu

[2022-04-05 02:34] luthes commented on #309
No worries. I'll play around with a bit, and see if I can't figure it out and get a PR going. Thanks for the reply!

[2022-04-05 03:19] felddy commented on #306
Two releases were made that will hopefully reduce the network load and provide additional transparancy in the future:
- https://github.com/felddy/foundryvtt-docker/releases/tag/v9.255.1
- https://github.com/felddy/foundryvtt-docker/releases/tag/v10.260.1

I'm going to leave this issue open for now.

[2022-04-05 05:12] luthes commented on #309
I'm guessing this is a type coercion issue, and I've never done anything in JavaScript but this seems to fix it:

[code]

Guessing you'll want something cleaner in a PR, so I won't open one.

[2022-04-13 10:49] krb1997 opened #317 "Enable custom CA for node-fetch"
# 🚀 Feature Proposal #

Foundry uses Node-Fetch for downloading modules and systems. Node uses its own CA store for verifying the remote but for those of use who use our own SCM servers, which use self signed CA's, we get errors.
Node has an environment variable which allows additional CA's to be included: `NODE_EXTRA_CA_CERTS`.
The additional code is minimal in `src/launcher.sh`:
[code]

This wou

[2022-04-13 13:49] felddy commented on #317
I think this is a great idea.

I was looking through the list of [Node.js environment variables](https://nodejs.org/docs/latest-v16.x/api/cli.html#environment-variables) to see what was available.  I think exposing `NODE_OPTIONS`, and `NODE_DEBUG` could also be useful.

It might even make sense to allow all `NODE_*`.  Using `env -S` and a regex with some `sed` fu.

[2022-04-13 16:41] krb1997 commented on #317
Looks like the BusyBox implementation of `env` doesn't support `-S`. I put together a PR with an alternative approach. It features a "Whitelist" so this can be expanded upon in the future if need be.

[2022-04-16 17:22] firstchrono commented on #306
@felddy what's the timeline or ETA to get this change into the 'latest' tag on the container?

[2022-04-17 02:50] felddy commented on #306
@firstchrono the changes from PR #307 were released 12 days ago.   See my previous comments above for more details about the releases.  Both `:release` and `:prerelease` tags now include these changes.  Also `:latest` since [`:latest` == `:release`](https://github.com/felddy/foundryvtt-docker#image-tags)

I'm leaving this issue open for now until the evaluation of the changes can be determined.

P

[2022-04-17 23:18] felddy commented on #317
@krb1997 your contributions have been merged and are currently being built by the continuous integration.

When you get a chance can you please pull `felddy/foundryvtt:edge` (or `felddy/foundryvtt:sha-291b3d31 `) and test that everything is working for you.

If it all looks good please feel free to close this issue.

Thank you again for a great contribution.  This is actually super useful for my o

[2022-04-18 09:11] krb1997 commented on #317
Tested and working. I can now provide my CA bundle with `NODE_EXTRA_CA_CERTS` and FoundryVTT verifies the domain ok.
Thanks for the help and your continued work on this!

[2022-04-18 09:11] #317 closed, assigned to felddy

[2022-04-21 20:11] bsas opened #326 "Silent v9.269 is out..."
Looks like there is a v9.269 with minor bug fixes out...

[2022-04-21 20:21] felddy commented on #326
Lol.  Stealth release! 🤣

- https://foundryvtt.com/releases/9.269
- https://discord.com/channels/170995199584108546/675738274572271656/966085743715958785

I'll start a build testing, and release it ASAP.

@bsas Thanks for the nudge!

[2022-04-21 21:08] #326 closed, assigned to felddy

[2022-04-21 21:21] felddy commented on #326
@bsas The [`9.269` release](https://github.com/felddy/foundryvtt-docker/releases/tag/v9.269.0) is [building](https://github.com/felddy/foundryvtt-docker/actions/runs/2204399430) and should be in the Docker repositories in about 10 minutes.

Thanks again for the ping.

[2022-04-24 18:48] ZeroEnna opened #329 "Starting without a License"
# 🚀 Feature Proposal #

For commercial use of this image, it would be a good idea to start with a "blank" system, e.g. no license key.
The reason for this is that it's the easiest way to start. Customers would then have to buy their license key first and enter it after ordering hosted services. We don't have to save their Foundry-Account data in our database, thus ensuring data protection by denia

[2022-04-24 20:10] felddy commented on #329
I'm not sure exactly what the requirements are for your feature.  Could you please elaborate?

This container already does "start with a 'blank' system".  In fact, it is so "blank" that there is no FoundryVTT installed.  This is why the credentials or distribution URL are required.

I suspect that you are asking for an image that has FoundryVTT pre-installed, but unlicensed.

Be advised that the [

[2022-04-26 15:37] felddy commented on #299
The `FOUNDRY_VERSION` variable is used internally by the container and should be modified during normal uses.

It is set in the `Dockerfile` to the version that has been tested and supported by the container's image:
https://github.com/felddy/foundryvtt-docker/blob/80bc7cc1ccf9a9e407ca1e7c7d1f6fb2d67a2cc1/Dockerfile#L4

I'm not sure what unraid is doing, but I suspect it is similar to the behavior

[2022-04-26 15:37] #299 closed, assigned to felddy

[2022-04-26 15:46] felddy commented on #268
The root cause is:
- https://github.com/nodejs/docker-node/issues/1477

See also:
- https://github.com/felddy/foundryvtt-docker/issues/196
- https://github.com/felddy/foundryvtt-docker/discussions/325
- https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.13.0#time64_requirements

Mitigations:
- Multiple users have reported that updating to Debian 11 or its analogs solved this issue.

[2022-04-26 15:46] #268 closed, assigned to felddy

[2022-04-26 15:49] felddy commented on #244
I was unable to reproduce this.  It looks like a memory issue specific to your environment.  If you are able to provide more details showing a deficiency in the container that causes this generally please re-open.

[2022-04-26 15:49] #244 closed, assigned to nobody

[2022-04-26 17:31] #117 closed, assigned to felddy

[2022-05-02 01:18] #329 closed, assigned to felddy

[2022-05-04 15:49] boideltier opened #340 "Keep existing user's permissions on /data/Data"
# 🚀 Feature Proposal #

As of right now, the ownership of the `/data` directory is changed to match the server's at startup. This overrides the ownership of existing users, who might have write permissions on the directory. Using the enviroment variable `CONTAINER_PRESERVE_OWNER`, this can be prevented, but raises issues on its own. When preserving the ownership of a directory in `/data/Data/` for

[2022-05-20 16:34] benbarbour opened #350 "CONTAINER_PRESERVE_OWNER and groups"
# 🐛 Bug Report #

I can't seem to get `CONTAINER_PRESERVE_OWNER` working, or perhaps it doesn't work on groups?

What seems to work for me is to let the container change the owner of the entire `/data` folder, but then I run `chown -R :<myGroup> ~/foundry_data/Data/assets`. Then both my user and the container's have access to `assets` folder. However, every time the container restarts I have to re

[2022-05-27 14:47] felddy opened #358 "Build workflow failing on push to ghcr.io: connection reset by peer"
# 🐛 Bug Report #

Unable to push images to ghcr.io.  Receiving `connection reset by peer`

Example workflow run:
- https://github.com/felddy/foundryvtt-docker/runs/6623788773?check_suite_focus=true

Possibly related issues:
- https://github.com/moby/buildkit/issues/2713
- https://github.com/docker/buildx/issues/298

## To Reproduce ##

Steps to reproduce the behavior:

- Run the Github actions wor

[2022-05-27 15:18] felddy commented on #358
Separating build from push as recommended [here](https://github.com/moby/buildkit/issues/2713#issuecomment-1068540101) is not supported with `builds`:

[code]

See: https://github.com/felddy/foundryvtt-docker/runs/6627656522?check_suite_focus=true#step:11:126

[2022-05-27 16:19] felddy commented on #350
I'm unable to reproduce this.

I have `CONTAINER_PRESERVE_OWNER=/data/Data/assets\|/data/Data/more-assets` in my test config and I can see that neither path `gid` or `uid` is modified when I start the container: (I set them to `502:502`)

[code]

The code that implements this: https://github.com/felddy/foundryvtt-docker/blob/dbbf67d6cf8d09fe639b2e2e38a1f758435e7f77/src/entrypoint.sh#L247-L250

I'd

[2022-05-27 16:19] #350 closed, assigned to nobody

[2022-05-27 16:22] felddy commented on #350
If you haven't already, take a look through the related discussions on the repo:
- https://github.com/felddy/foundryvtt-docker/discussions?discussions_q=CONTAINER_PRESERVE_OWNER

[2022-05-27 16:24] felddy commented on #358
Rolling back to the previous version of `moby/buildkit` as suggested [here](https://github.com/docker/buildx/issues/834#issuecomment-965730742) didn't work either:

[code]

[2022-05-27 16:57] felddy commented on #358
Invalidating the cache had no effect:

[code]

This was a shot in the dark.

[2022-05-27 18:43] felddy commented on #358
Success?!   https://github.com/felddy/foundryvtt-docker/actions/runs/2398099176

Commit 3933811bf596b44c5b006bf52db596cffd21c5c6

Reverting docker/setup-qemu-action from 2 to 1.2.0 has alleviated the network errors.  This change was originally introduced in dependabot PR:
- #344

The release notes for setup-qemu mention an [Actions Runner](https://github.com/actions/runner/releases/tag/v2.285.0) v

[2022-05-27 19:10] felddy commented on #358
Tested disabling the [step-security/harden-runner](https://github.com/step-security/harden-runner) with docker/setup-qemu-action 2 .  The error to ghcr.io persisted.

https://github.com/felddy/foundryvtt-docker/runs/6630525277?check_suite_focus=true

[2022-05-28 14:44] felddy commented on #358
It seems the reversion has made things "better".  Workflows can now complete sometimes.   e.g., the nightly build succeeded for the first time in a while:
https://github.com/felddy/foundryvtt-docker/actions/runs/2400697558

This workflow still failed after using qemu action `1.2.0`:
https://github.com/felddy/foundryvtt-docker/actions/runs/2398737330

[2022-05-28 21:03] felddy opened #360 "Replace custom tag logic with docker/metadata-action"
# 🚀 Feature Proposal #

See:
- https://github.com/docker/metadata-action
- https://github.com/actions/starter-workflows/blob/main/ci/docker-publish.yml

## Motivation ##

There is an action that looks like it can cleanly handle a lot of the custom logic in our build workflow.
There might be a bit of tweaking to deal with `:latest` in the way we treat it.

## Example ##

See:
- https://github.com/a

[2022-06-01 14:14] felddy opened #362 "Build workflow fails on push to ghcr.io with: cannot reuse body, request must be retried"
# 🐛 Bug Report #

The build workflow is failing with `cannot reuse body, request must be retried` when pushing to the GitHub Container Registry.

Impact: All builds are failing.

Possible workarounds: Disable pushes to `ghcr.io`

Possibly related issues:
- #358

Related GitHub Community threads:
- https://github.community/t/buildx-failed-with-error-cannot-reuse-body-request-must-be-retried/253178

[2022-06-02 16:01] felddy commented on #360
Current issue in testing.

`:latest` and `:release` tags are not being enabled when a semver release is created from the default branch.  Note that the other semver tags were emitted.

https://github.com/felddy/foundryvtt-docker/blob/512024aaa8a4d873508807c0a24b2b34a5b5dd5d/.github/workflows/build.yml#L157-L169

https://github.com/felddy/ci-testing/runs/6711605353?check_suite_focus=true#step:6:71

[2022-06-02 17:44] felddy commented on #360
It looks like `github.ref` is `refs/tags/v1.2.3`, which explains why the `{{is_default_branch}}` is failing.

See:
- https://github.com/docker/metadata-action/blob/69f6fc9d46f2f8bf0d5491e4aabe0bb8c6a4678a/src/meta.ts#L383-L392
- https://github.com/docker/metadata-action/pull/192

Probably should try [`{{base_ref}}`](https://github.com/docker/metadata-action#base_ref)

[2022-07-10 09:46] dinotheextinct opened #380 "Docker-compose error service mapping"
# 🐛 Bug Report #
docker-compose.yml not working, problem with service mapping, following error message
`services.foundry.environment must be a mapping`

[code]

## To Reproduce ##

Steps to reproduce the behavior:

write docker-compose.yml and try to start it with docker compose up --detach

## Expected behavior ##
Installing starting the docker container through the compose file

[2022-07-10 12:38] #380 closed, assigned to nobody

[2022-07-15 13:41] tjhiggins commented on #358
@felddy I see your builds are passing now - how did you fix?

[2022-07-15 13:50] felddy commented on #358
@tjhiggins It resolved itself after a week or so.  It ended as mysteriously as it had begun.

I opened a ticket with GitHub support regarding the issue.  Their response is copied below:

[2022-07-15 13:50] #358 closed, assigned to felddy

[2022-07-15 19:54] felddy commented on #362
It seems the container registry was having a long streak of issues that have been resolved.

See:
- https://github.com/felddy/foundryvtt-docker/issues/358

[2022-07-15 19:54] #362 closed, assigned to felddy

[2022-07-15 19:57] felddy commented on #360
This feature was added during the refactor of workflows:
See:
- https://github.com/felddy/foundryvtt-docker/pull/369

[2022-07-15 19:57] #360 closed, assigned to felddy

[2022-07-15 20:02] felddy commented on #306
After talking with the Foundry devs it seems this (along with several actions on their side) has mitigated this issue for now.

If there are reports of this resurfacing I will reopen it.

[2022-07-15 20:02] #306 closed, assigned to felddy

[2022-07-20 10:27] Gensokian opened #387 "V10 (Dev3) Login Screen/Tours does not work with route prefix"
# 🐛 Bug Report

## Problem
Since Foundry V10 Dev3 (Tag: Prerelease) the login screen cannot be accessed anymore

## Thesis
Since V10 Developement Preview 3, foundry has added the new Tours feature, guiding new users through the software.

These "tours" go by the /tours directory which is not taken in account by the redirection enviroment variable "FOUNDRY_ROUTE_PREFIX";

![image](https://user-imag

[2022-07-20 18:19] felddy commented on #387
I'd be happy to look into it but I haven't played with the "tours" feature yet.  Do you have steps to configure Foundry for a tour that I can test.

[2022-07-20 20:32] Gensokian commented on #387
The tours happen as soon, as foundry tries to launch.

[code]

[code]

# Logs and further info
## Foundry (console) log:
[code]
## Docker Compose Log
[code]

I think the last two lines seem to be giving it away, that either foundry, or your dockerized instance is not prefixing the "/james/" to the "/tours/..." directory ...

[2022-07-20 20:45] felddy commented on #387
Thank you.
Let me try to reproduce this. After looking at those last two lines that you pointed out, I'm pretty sure this will end up being a [FoundryVTT issue](https://github.com/foundryvtt/foundryvtt/issues).

The [`FOUNDRY_ROUTE_PREFIX` code in the container isn't anything magical](https://github.com/felddy/foundryvtt-docker/search?q=FOUNDRY_ROUTE_PREFIX).  The most interesting interaction is w

[2022-07-21 21:26] felddy commented on #387
Reference:
- https://github.com/foundryvtt/foundryvtt/issues/7560

[2022-07-21 21:28] felddy commented on #387
@Gensokian I am about to build and release `10.274`.  Let me know if this fixes your issue.

- https://github.com/felddy/foundryvtt-docker/releases/tag/v10.274.0

[2022-07-22 05:25] Gensokian commented on #387
Dv69%2TP$kba5*vs$e^Azu#5rYV#85

[2022-07-22 05:25] #387 closed, assigned to felddy

[2022-07-22 05:26] Gensokian commented on #387
Can confirm, this is fixed! Thanks a bunch!

[2022-08-01 11:43] DerJJ opened #391 "Support of prerelease 10.276"
Hi, there is already a 10.276 prerelease version out, could you please integrate that?

https://foundryvtt.com/releases/10.276

Thanks

[2022-08-01 13:56] felddy commented on #391
I'll try to get this out today.  There is a new configuration to support in `options.json` so this is a bit more than a normal version bump.

As a work-around, if you need to test before the new image is published you can manually set the `FOUNDRY_VERSION` environment variable to `10.276`.

[2022-08-02 13:09] felddy commented on #391
New `protocol` option in `options.json`

See:
- https://github.com/foundryvtt/foundryvtt/issues/6506

Note that `protocol` is not yet defined in the official `options.json` documentation:
- https://foundryvtt.com/article/configuration/#application-configuration
- https://github.com/foundryvtt/foundryvtt/blob/master/articles/configuration.html

[2022-08-02 14:16] felddy commented on #391
See:
- https://github.com/felddy/foundryvtt-docker/releases/tag/v10.276.0

[2022-08-02 14:16] #391 closed, assigned to felddy

[2022-08-05 04:30] ddrinka opened #397 "Include support for setting the Docker container's hostname via an environment variable"
# 🚀 Feature Proposal #
Rather than only supporting providing a custom hostname via docker-compose or the docker command line, support should also be included to set the hostname from an environment variable.

## Motivation ##
I'm running foundryvtt-docker on Fargate at AWS.  Supplying a hostname via a task definition is not supported there.  The Fargate task is set to automatically start and termi

[2022-08-05 05:34] ddrinka commented on #397
After some tinkering, it appears doing what I proposed is a non-trivial task.  Setting a new hostname in Alpine requires the SYS_ADMIN capability which Fargate does not grant.  Setting `/etc/hostname` does not impact the return value of `uname -n` which is what `os.hostname() -> gethostname()` uses to retrieve the current hostname.

The solution is to attach between Node.js and glibc using LD_PREL

[2022-08-06 22:26] felddy opened #399 "10.277.0 license agreement fails to render"
### Discussed in https://github.com/felddy/foundryvtt-docker/discussions/398

<div type='discussions-op-text'>

<sup>Originally posted by **eXaminator** August  6, 2022</sup>
Hey, after pulling the latest image on my local machine (Docker for Mac) and starting it I get greeted by the license page as usual, but it stays empty:
<img width="1437" alt="image" src="https://user-images.githubusercontent

[2022-08-06 22:33] felddy commented on #399
@eXaminator I'm able to reproduce this with a clean (unlicensed) `data` directory on `10.277.0` with Firefox on Mac.  The same setup but with `10.276.0` renders the license page correctly.

I do also see the exception in the browser's console with `10.277.0`:
[code]

I'm going to do some testing to see if I can determine the cause.  This is feeling like a Foundry bug since only the container versi

[2022-08-06 22:47] felddy commented on #399
I just ran the `10.276.0` container while setting the `FOUNDRY_VERSION` environment variable to `10.277` so that the older container will install the newer server.  The license page failed to render.

This reinforces my belief that this is a FoundryVTT issue.

Log showing forced version mismatch.
[code]

The error is coming from this block of code in `setup.js`:
[code]

Specifically `const input =

[2022-08-06 22:56] felddy commented on #399
The code that is failing was added in `10.277`:

[code]

[2022-08-06 23:15] felddy commented on #399
I `exec`'d into the container and commented out lines `112:113` and reloaded the page in Firefox.  The license rendered correctly.

[code]

[2022-08-06 23:25] felddy commented on #399
I think I know how to reproduce this behavior outside the container.  I will open an issue with FoundryVTT and reference it back here.

[2022-08-11 03:37] jstebenne commented on #399
I'm having the same problem and got to the same conclusion as you before seeing this issue.

Doing `docker exec -it` into the container and launching Foundry manually makes it work without changing the command at all. I don't see what it changes. The only thing I have in mind is a race condition inside Foundry's code related to the page's render.

I mentioned the issue in Discord, but I was just t

[2022-08-16 22:37] #399 closed, assigned to felddy

[2022-08-28 15:06] BoltsJ opened #419 "Support for v9 closing release v9.280"
v9.280 is out, which should be the final v9 release
https://foundryvtt.com/releases/9.280

[2022-08-28 15:20] felddy commented on #419
Thanks for the ping..  I totally missed the announcement.  I'll start a build...

[2022-08-28 15:54] #419 closed, assigned to felddy

[2022-09-01 08:24] dinotheextinct opened #424 "Unable to authenticate on docker compose up"
I am trying to start the container on a cloud server with preinstalled livekit docker container.

sudo docker compose up --detach gives:
`Authenticate | 2022-09-01 08:20:02 | [error] Unable to authenticate: request to https://foundryvtt.com/ failed, reason: read ECONNRESET`

I am kinda clueless what this is supposed to mean.

[2022-09-01 13:32] #424 closed, assigned to nobody

[2022-09-02 16:58] dinotheextinct opened #430 "instructions how to setup foundry docker in conjunction with livekitav docker"
# 🚀 Feature Proposal #

A clearcut way how to achieve running this docker container alongside this livekitav docker: https://github.com/livekit/livekit

## Motivation ##

Livekit is the only AV module for foundry which works reliably and is also provided in a docker container, so getting this working together out of the box, would be perfect solution for most foundryvtt  setups.

## Example ##

ht

[2022-09-05 20:53] damccull commented on #340
This is likely solved by adding or using the ability to change the user launching the server. For instance, making foundry launch as user 1000 within the container by default, and then allowing the UID to be configured via an environment variable. Right now it seems to launch as UID 421 for me. By making it 1000, it'd match the first-created user's ID in the linux system, and for MOST users this w

[2022-09-05 23:05] damccull commented on #340
Turns out this is already supported. Launch the container with `-e FOUNDRY_GID=1000` and `-e FOUNDRY-UID=1000` or put those in the docker-compose under environment variables.

I imagine 421 was chosen so as to not easily coincide with someone else's UID/GID and accidentally grant bad permissions in multi-user environments.

[2022-09-15 05:07] Chr0n4s opened #439 "Portainer shows status as unhealthy when i configured https"
# 🐛 Bug Report #

A clear and concise description of what the bug is.

## To Reproduce ##

Steps to reproduce the behavior:

- Install container
- configure https

## Expected behavior ##

Portainer shows status as healthy.

[2022-09-17 13:42] felddy commented on #439
I'm sorry you are having issues with the container.  Please provide the details requested in the.issue template so I can help you identify the problem.

[2022-09-20 14:58] #340 closed, assigned to nobody

[2022-09-21 04:22] jshank opened #446 "Container Version not properly set"
### Bug description

When starting the container, I receive the following
[code]

I've upgraded to the latest container but somehow v10.284.0 has been "locked into the image". Looking through the Dockerfile, it declares  `ARG VERSION` which is later sent to a text file. `echo ${VERSION} > image_version.txt`. This doesn't appear to get updated on subsequent updates to the image file.

### Steps to

[2022-09-21 12:01] felddy opened #448 "Can not find license keys associated with account"
### Bug description

The container will fail to fetch a license from the FoundryVTT site.  My guess is that the license web page was modified sufficiently to break the scraper.

See:
- https://discord.com/channels/170995199584108546/675738274572271656/1021993056754470995
- https://github.com/felddy/foundryvtt-docker/actions/runs/3096933113/jobs/5013959656#step:14:170

### Steps to reproduce

- Sta

[2022-09-21 12:36] #448 closed, assigned to felddy

[2022-09-21 14:29] felddy commented on #446
Thank you for the report.

This warning message you are seeing is working as expected.  You have manually set the `FOUNDRY_VERSION` environment variable in your docker compose file.  The version you set does not match the version that was used to create the container.  The container will probably work as expected, but it was not tested in this configuration.

To correctly update your container rem

[2022-09-21 14:29] #446 closed, assigned to felddy

[2022-09-21 14:56] jshank commented on #446
I commented out the FOUNDRY_VERSION tag and pulled a new version. The issue persists:

[code]

[2022-09-21 16:29] felddy commented on #446
The current version of the container is [`10.286.1`](https://github.com/felddy/foundryvtt-docker/releases/tag/v10.286.1).  Your log is showing container version `10.284.0`.

Verify that the tag you are using in your `docker-compose.yml` file is as expected.  Usually this is `:release`.

Also check your logs to see if Docker is "recreating" the container.  You'll want to re-`up` it so it is recreat

[2022-09-21 18:20] jshank commented on #446
Confirmed docker-compose is using :release.
I've done docker-compose down (twice for good measure) then docker-compose up.
I've deleted the image completely and redownloaded.

What gets me is that :release is showing `org.opencontainers.image.version = "10.286.1"` but still shows `Starting felddy/foundryvtt container v10.284.0`

How does `VERSION` get populated in the first place?

[2022-09-21 19:13] felddy commented on #446
`VERSION` is passed in at build time.  If you were to build the container by hand you'd do it [like this](https://github.com/felddy/foundryvtt-docker#building-from-source):

[code]

In this repo, the builds are executed by GitHub Actions.   The version of the image lives in `_version.py`  and is read by the workflows:

https://github.com/felddy/foundryvtt-docker/blob/920129381a0e077a75077accd24537

[2022-09-21 21:13] jshank commented on #446
Thanks for sharing how that gets created.
[code]

[2022-09-21 23:18] felddy commented on #446
Hmmm.  I have no idea!  But I am ready for the exciting conclusion.  Please don't give up on this.
I'm going to covert this into a discussion.

[2022-09-28 10:28] #164 closed, assigned to nobody

[2022-09-28 10:28] #135 closed, assigned to felddy

[2022-10-23 10:27] #439 closed, assigned to nobody

[2022-10-26 21:23] felddy opened #500 "Use GitHub Action to push description to Docker Hub"
### Feature description

Replace the current `push_readme.sh` file with a GitHub Action.

See:
- https://github.com/docker/build-push-action/blob/master/docs/advanced/dockerhub-desc.md
- https://github.com/peter-evans/dockerhub-description

### Motivation

It's one less thing to maintain.

### Example

Replace this logic:
https://github.com/felddy/foundryvtt-docker/blob/5bf92a2e15eede6560c53b0e582

[2022-10-28 18:17] felddy opened #503 "Deprecating save-state and set-output commands in GitHub Actions workflows"
### Feature description

Remediate usage of `set-output` and `save-state` in GitHub Actions workflows.

### Motivation

See:
- https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

### Example

Examples

A workflow using save-state or set-output like the following

[code]

should be updated to write to the new GITHUB_STATE and GITHUB_OUTPUT enviro

[2022-10-28 19:06] #500 closed, assigned to felddy

[2022-10-28 19:06] #503 closed, assigned to felddy

[2022-11-13 04:27] OriginLive opened #516 "Cannot look in with bash"
### Bug description

Can we get bash shell, so I can browse the files. I need to update some of the local foundry files, but bash fails to open on the container.

### Steps to reproduce

Open docker terminal.
<img width="508" alt="image" src="https://user-images.githubusercontent.com/24319526/201505674-3b4090f0-6659-42cf-9e8a-e282e9ad85e2.png">
see this

### Expected behavior

i would like to copy

[2022-11-13 21:07] felddy commented on #516
You can open a shell at `/bin/sh`.  This is the busybox shell based on `dash`.

[code]

I hope this helps.

[2022-11-13 21:07] #516 closed, assigned to felddy